interactions:
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/search/hash/sha256?hash=275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f&community=default
  response:
    body:
      string: '{"has_more":false,"limit":50,"result":[{"artifact_id":"81833548515454979","assertions":[{"author":"82454256513644328","author_name":"SecureAge","bid":"2500000000000000","engine":{"description":"The
        SecureAge APEX Engine harnesses the power of artificial intelligence (AI)
        to take on the threats of today and tomorrow. Leveraging on the power of big
        data, the APEX engine goes beyond traditional scanners by effectively and
        reliably spotting malicious patterns to allow for quick decisions based on
        prior experience. It can adaptively update its knowledge against newer and
        unseen malware variants that may attempt to infect endpoints during an outbreak.
        This approach makes it incredibly faster at detecting zero-day threats while
        having minimal footprint regarding performance and disk space when compared
        to traditional anti-malware engines.","name":"SecureAge"},"mask":true,"metadata":{"malware_family":"EICAR
        Anti-Virus Test File","product":"secureage","scanner":{"definition_version":"6.223","engine_version":"5.5.1","environment":{"architecture":"x86_64","operating_system":"Linux"}}},"verdict":true},{"author":"33148585565356292","author_name":"Jiangmin","bid":"2500000000000000","engine":{"description":"Specializes
        in malicious files and business documents scanning","name":"Jiangmin"},"mask":true,"metadata":{"malware_family":"EICAR-Test-File","product":"jiangmin","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_version":"16.0.100","vendor_vendor":"1.0.0.0","version":"0.0.1"}},"verdict":true},{"author":"55328652711226799","author_name":"Alibaba","bid":"500000000000000","engine":{"description":"Engine
        based on cloud computing, big data technologies and a database with massive
        collection of confirmed malware and safe files. Multiple subsystems included,
        such as preprocessing, static analysis, dynamic analysis, and counterfeit
        software detection.","name":"Alibaba"},"mask":true,"metadata":{"comments":["REPORT_TYPE=eicar"],"malware_family":"Dos.EICAR-test-file","product":"Alibaba","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_version":"20180921112649","vendor_version":"0.2.0.3"}},"verdict":true},{"author":"45003009427661603","author_name":"Qihoo
        360","bid":"2500000000000000","engine":{"description":"Qihoo 360 is the largest
        provider of antivirus, Internet and mobile security products in China. QVM
        (Qihoo Support Vector Machine) is used as a basis for a detection algorithm
        which is automatically enhanced and updated with new malware samples submitted
        by users to servers. Program files that do not appear on our blacklist [...]
