interactions:
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/sandbox/sandboxtask/latest?community=default&sha256=7c34cccd3f58c144f561493c511a1a96a227cba58d4e1a737c4cd1b3a8a407ff&sandbox=cape
  response:
    body:
      string: '{"result":{"account_number":null,"artifact":{"extended_type":"PE32
        executable (GUI) Intel 80386, for MS Windows, 14 sections","failed":false,"filename":"7c34cccd3f58c144f561493c511a1a96a227cba58d4e1a737c4cd1b3a8a407ff","mimetype":"application/vnd.microsoft.portable-executable","size":1849344},"community":"mainnet1","config":{"arguments":"","artifact_type":"FILE","browser":null,"cape_malscore":0.7,"network_enabled":true,"provider":{"id":"1","name":"cape","slug":"cape","tool":"cape_sandbox_v2"},"target":"7c34cccd3f58c144f561493c511a1a96a227cba58d4e1a737c4cd1b3a8a407ff","vm":{}},"created":"2026-03-09T14:34:33.043172+00:00","expiration":"2026-03-09T17:34:33.037726+00:00","id":"4388346268040169","instance_id":"25252432979329620","report":{"behavior":{"anomaly":[],"encryptedbuffers":[],"processes":[{"calls":[{"api":"NtTestAlert","arguments":[],"caller":"0x77aea3b6","category":"threading","id":0,"parentcaller":"0x77aea2c1","repeated":4,"return":"0x00000000","status":true,"thread_id":"5792","timestamp":"2026-03-09
        21:49:53,050"},{"api":"HeapCreate","arguments":[{"name":"Options","value":"0"},{"name":"InitialSize","value":"0x00001000"},{"name":"MaximumSize","value":"0x00000000"}],"caller":"0x00409b80","category":"misc","id":1,"parentcaller":"0x00405cfe","repeated":0,"return":"0x07330000","status":true,"thread_id":"5792","timestamp":"2026-03-09
        21:49:53,862"},{"api":"LdrGetDllHandle","arguments":[{"name":"FileName","value":"KERNEL32.DLL"},{"name":"ModuleHandle","value":"0x76620000"}],"caller":"0x00407c63","category":"system","id":2,"parentcaller":"0x00000000","repeated":0[...]
