interactions:
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/sandbox/sandboxtask/latest?community=default&sha256=ed01ebfbc9eb5bbea545af4d01bf5f1071661840480439c6e5babe8e080e41aa&sandbox=triage
  response:
    body:
      string: '{"result":{"account_number":null,"artifact":{"extended_type":"PE32
        executable (GUI) Intel 80386, for MS Windows","failed":false,"filename":"wanncry.exe","mimetype":"application/x-dosexec","size":3514368},"community":"mainnet1","config":{"network_enabled":true,"provider":{"id":"2","name":"triage","slug":"triage","tool":"triage_sandbox_v0"},"vm":{}},"created":"2024-01-06T01:49:57.982407+00:00","expiration":"2024-01-06T02:19:57.992382+00:00","id":"34544761573827306","instance_id":"4723562756369773","report":{"analysis":{"family":["wannacry"],"score":10,"tags":["family:wannacry","discovery","persistence","ransomware","spyware","stealer","worm"]},"extracted":[{"path":"C:\\Users\\Admin\\AppData\\Local\\Temp\\@Please_Read_Me@.txt","ransom_note":{"family":"wannacry","note":"Q:  What''s
        wrong with my files?\r\n\r\nA:  Ooops, your important files are encrypted.
        It means you will not be able to access them anymore until they are decrypted.\r\n    If
        you follow our instructions, we guarantee that you can decrypt all your files
        quickly and safely!\r\n    Let''s start decrypting!\r\n\r\nQ:  What do I do?\r\n\r\nA:  First,
        you need to pay service fees for the decryption.\r\n    Please send $300 worth
        of bitcoin to this bitcoin address: 12t9YDPgwueZ9NyMgw519p7AA8isjr6SMw\r\n\r\n    Next,
        please find an application file named \"@WanaDecryptor@.exe\". It is the decrypt
        software.\r\n    Run and follow the instructions! (You may need to disable
        your antivirus for a while.)\r\n    \r\nQ:  How can I trust?\r\n\r\nA:  Don''t
        worry about decryption.\r\n    We will decrypt your files surely because nobody
        will trust us if we cheat users.\r\n    \r\n\r\n*   If you need our assistance,
        send a message by clicking <Contact Us> on the decryptor window.\r\n","wallets":["12t9YDPgwueZ9NyMgw519p7AA8isjr6SMw"]},"resource":"behavioral1/files/0x0001000000019a55-303.dat","tasks":["behavioral1"]}],"extracted_c2_ip_port":[],"extracted_c2_ips":[],"malware_family":["wannacry"],"sample_id":"240106-b88q6sbbfb","targets":[{"family":["wannacry"],"iocs":{"ips":["127.0.0.1","167.114.66.61","131.188.40.189","64.113.32.29","178.16.208.56","154.35.175.225","120.29.217.46","128.31.0.39","213.61.66.116","62.102.148.67","171.25.193.9"]},"md5":"84c82835a5d21bbcf75a61706d8ab549","score":10,"sha1":"5ff465afaabcbf0150d1a3ab2c2e74f3a4426467","sha256":"ed01ebfbc9eb5bbea545af4d01bf5f1071661840480439c6e5babe8e080e41aa","sha512":"90723a50c20ba3643d625595fd6be8dcf88d70ff7f4b4719a88f055d5b3149a4231018ea30d375171507a147e59f73478c0c27948590794554d031e7d54b7244","signatures":[{"desc":"WannaCry
        is a ransomware cryptoworm.","label":"wannacry","name":"Wannacry","score":10,"tags":["ransomware","worm","family:wannacry"]},{"desc":"Ransomware
        often targets backup files to inhibit system recovery.","label":"deletes_shadows","name":"Deletes
        shadow copies","score":9,"tags":["ransomware"],"ttp":["T1107","T1490"]},{"label":"fw_startup_file","name":"Drops
        startup file","score":7},{"name":"Executes dropped EXE","score":7},{"name":"Loads
        dropped DLL","score":7},{"label":"file_permission_mod","name":"Modifies file
        permissions","score":7,"tags":["discovery"],"ttp":["T1222"]},{"desc":"Infostealers
        often target stored browser data, which can include saved credentials etc.","label":"browser_user_data_harvesting","name":"Reads
        user/profile data of web brow[...]
