interactions:
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/sandbox/sandboxtask/latest?community=default&sha256=ed01ebfbc9eb5bbea545af4d01bf5f1071661840480439c6e5babe8e080e41aa&sandbox=cape
  response:
    body:
      string: '{"result":{"account_number":null,"artifact":{"extended_type":"PE32
        executable (GUI) Intel 80386, for MS Windows","failed":false,"filename":"wanncry.exe","mimetype":"application/x-dosexec","size":3514368},"community":"mainnet1","config":{"network_enabled":true,"provider":{"id":"1","name":"cape","slug":"cape","tool":"cape_sandbox_v2"},"vm":{}},"created":"2024-01-06T01:49:57.895503+00:00","expiration":"2024-01-06T02:19:57.929688+00:00","id":"40195697121815628","instance_id":"4723562756369773","report":{"cape_filter":[{"cape_type":"WanaCry
        Payload: 32-bit DLL","cape_type_code":8,"cape_yara":[{"meta":{"author":"kevoreilly","description":"WanaCry
        Payload"},"name":"WanaCry"}],"crc32":"B3A476F8","data":null,"guest_paths":"8;?C:\\Users\\maxine\\AppData\\Local\\Temp\\QE2I9QK3Q8XX9GGMXGJW9I73.exe;?C:\\Users\\maxine\\AppData\\Local\\Temp\\QE2I9QK3Q8XX9GGMXGJW9I73.exe;?0x10000000;?","md5":"b9e2aef6042331441e60bec4996963c1","module_path":"C:\\Users\\maxine\\AppData\\Local\\Temp\\QE2I9QK3Q8XX9GGMXGJW9I73.exe","name":"3a4c08f1bd7a53f847d9f87450a75dfc5787f8703fdd0b7b2778cfc582d23edd","path":"/opt/CAPEv2/storage/analyses/1/CAPE/3a4c08f1bd7a53f847d9f87450a75dfc5787f8703fdd0b7b2778cfc582d23edd","pe":{"actual_checksum":"0x00014063","digital_signers":[],"dirents":[{"name":"IMAGE_DIRECTORY_ENTRY_EXPORT","size":"0x00000047","virtual_address":"0x0000bbc0"},{"name":"IMAGE_DIRECTORY_ENTRY_IMPORT","size":"0x0000008c","virtual_address":"0x0000af10"},{"name":"IMAGE_DIRECTORY_ENTRY_RESOURCE","size":"0x000003ec","virtual_address":"0x0000e000"},{"name":"IMAGE_DIRECTORY_ENTRY_EXCEPTION","size":"0x00000000","virtual_address":"0x00000000"},{"name":"IMAGE_DIRECTORY_ENTRY_SECURITY","size":"0x00000000","virtual_address":"0x00000000"},{"name":"IMAGE_DIRECTORY_ENTRY_BASERELOC","size":"0x000009a8","virtual_address":"0x0000f000"},{"name":"IMAGE_DIRECTORY_ENTRY_DEBUG","size":"0x00000000","virtual_address":"0x00000000"},{"name":"IMAGE_DIRECTORY_ENTRY_COPYRIGHT","size":"0x00000000","virtual_address":"0x00000000"},{"name":"IMAGE_DIRECTORY_ENTRY_GLOBALPTR","size":"0x00000000","virtual_address":"0x00000000"},{"name":"IMAGE_DIRECTORY_ENTRY_TLS","size":"0x00000000","virtual_address":"0x00000000"},{"name":"IMAGE_DIRECTORY_ENTRY_LOAD_CONFIG","size":"0x00000000","virtual_address":"0x00000000"},{"name":"IMAGE_DIRECTORY_ENTRY_BOUND_IMPORT","size":"0x00000000","virtual_address":"0x00000000"},{"name":"IMAGE_DIRECTORY_ENTRY_IAT","size":"0x00000000","virtual_address":"0x00000000"},{"name":"IMAGE_DIRECTORY_ENTRY_DELAY_IMPORT","size":"0x00000000","virtual_address":"0x00000000"},{"name":"IMAGE_DIRECTORY_ENTRY_COM_DESCRIPTOR","size":"0x00000000","virtual_address":"0x00000000"},{"name":"IMAGE_DIRECTORY_ENTRY_RESERVED","size":"0x00000000","virtual_address":"0x00000000"}],"entrypoint":"0x00006cdf","ep_bytes":"558bec538b5d08568b750c578b7d1085","exported_dll_name":"kgptbeilcq","exports":[{"address":"0x10005ae0","name":"TaskStart","ordinal":1}],"guest_signers":{"aux_error":true,"aux_error_desc":"No
        signature found.","aux_sha1":null,"aux_signers":[],"aux_timestamp":null,"aux_valid":false},"icon":null,"icon_dhash":null,"icon_fuzzy":null,"icon_hash":null,"imagebase":"0x10000000","imphash":"95f63d1f0a290b1bf8251e7fdeafd080","imported_dll_count":6,"imports":{"ADVAPI32":{"dll":"ADVAPI32.dll","imports":[{"address":"0x10007000","name":"AllocateAndInitializeSid"},{"address":"0x10007004","name":"CryptExportKey"},{"address":"0x10007008","name":"CryptReleaseContext"},{"address":"0x1000700c","name":"GetSecurityInfo"},{"address":"0x10007010","name":"SetEntriesInAclA"},{"address":"0x10007014","name":"SetSecurityInfo"},{"address":"0x10007018","name":"CheckTokenMembership"},{"address":"0x1000701c","name":"FreeSid"},{"address":"0x10007020","name":"GetUserNameW"},{"address":"0x10007024","name":"OpenProcessToken"},{"address":"0x10007028","name":"GetTokenInformation"},{"address":"0x1000702c","name":"CryptGenRandom"},{"address":"0x10007030","name":"CryptGetKeyParam"}]},"KERNEL32":{"dll":"KERNEL32.dll","imports":[{"address":"0x10007038","name":"InitializeCriticalSection"},{"address":"0x1000703c","name":"SetFileAttributesW"},{"address":"0x10007040","name":"SetFileTime"},{"address":"0x10007044","name":"SetFilePointer"},{"address":"0x10007048","name":"GetFileTime"},{"address":"0x1000704c","name":"GetFileSizeEx"},{"address":"0x10007050","name":"MultiByteToWideChar"},{"address":"0x10007054","name":"GetFileAttributesW"},{"address":"0x10007058","name":"FindClose"},{"address":"0x[...]
