interactions:
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/sandbox/sandboxtask/latest?community=default&sha256=275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f&sandbox=cape
  response:
    body:
      string: '{"result":{"account_number":null,"artifact":{"extended_type":"EICAR
        virus test files","failed":false,"filename":"eicar.com","mimetype":"text/plain","size":68},"community":"mainnet1","config":{"arguments":"","artifact_type":"FILE","browser":null,"cape_malscore":0.1,"network_enabled":false,"provider":{"id":"1","name":"cape","slug":"cape","tool":"cape_sandbox_v2"},"target":"eicar.com","vm":{"architecture":"x64","id":"100","language":"English
        (United States)","name":"Microsoft Windows 10 Pro Build 19041","os_name":"Microsoft
        Windows 10 Pro","os_version":"10.0.19041 Build 19041","slug":"win-10-build-19041"}},"created":"2026-04-02T16:26:02.596303+00:00","expiration":"2026-04-02T19:26:02.600372+00:00","id":"89800868051754753","instance_id":"37445447659644078","report":{"behavior":{"anomaly":[],"encryptedbuffers":[],"processes":[{"calls":[{"api":"NtTestAlert","arguments":[],"caller":"0x77aea3b6","category":"threading","id":0,"parentcaller":"0x77aea2c1","repeated":0,"return":"0x00000000","status":true,"thread_id":"7140","timestamp":"2026-04-02
        23:26:20,256"},{"api":"NtWaitForSingleObject","arguments":[{"name":"Handle","value":"0x0000007c"},{"name":"Milliseconds","value":"18446744073709551615"},{"name":"Status","value":"Infinite"}],"caller":"0x77ae47fc","category":"system","id":1,"parentcaller":"0x77acffa9","repeated":3,"return":"0x00000000","status":true,"thread_id":"4396","timestamp":"2026-04-02
        23:26:20,256"},{"api":"NtDeviceIoControlFile","arguments":[{"name":"FileHandle","value":"0x00000094"},{"name":"IoControlCode","value":"0x00500016"},{"name":"InputBuffer","value":"\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\[...]
