interactions:
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/consumer/submission/default/18283207297428233
  response:
    body:
      string: '{"result":{"artifact_id":"18283207297428233","assertions":[],"bounty_state":0,"community":"mainnet1","country":"IN","created":"2026-04-02T16:28:26.256380+00:00","detections":null,"expiration_window":null,"expire_at":null,"extended_type":null,"failed":false,"filename":"eicar.com","first_seen":"2026-04-02T16:28:26.256380+00:00","id":"18283207297428233","last_scanned":null,"last_seen":null,"md5":null,"metadata":[],"mimetype":null,"permalink":"https://polyswarm.network/scan/results/file/None/18283207297428233","polyscore":null,"result":null,"sha1":null,"sha256":null,"size":null,"type":"FILE","upload_url":"https://ps-storage-prodv2-artifact-index.s3.us-east-2.amazonaws.com/instances/d6/01/f2/d601f2f2-2298-4a5a-a34e-1229ae8fa7de?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIARD7S6WCVBXF6ZSO5%2F20260402%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20260402T162826Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Signature=eaa79fdd59232e695dc5acd646a2cc4fbaff2605b850b206a641b16e1b4a7a3d","votes":[],"window_closed":false},"status":"OK"}

        '
    headers:
      Content-Type:
      - application/json
      X-Billing-ID:
      - '83243072086525'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/consumer/submission/default/18283207297428233
  response:
    body:
      string: '{"result":{"artifact_id":"18283207297428233","assertions":[{"author":"45003009427661603","author_name":"Qihoo
        360","bid":"2500000000000000","engine":{"description":"Qihoo 360 is the largest
        provider of antivirus, Internet and mobile security products in China. QVM
        (Qihoo Support Vector Machine) is used as a basis for a detection algorithm
        which is automatically enhanced and updated with new malware samples submitted
        by users to servers. Program files that do not appear on our blacklist and
        whitelist are scanned using QVM, and any \u201chits\u201d presumed to be malicious
        would be removed or quarantined.","name":"Qihoo 360"},"mask":true,"metadata":{"malware_family":"qex.eicar.gen.gen","product":"Qihoo","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_version":"2022-10-09
        10:05"}},"verdict":true},{"author":"21584326519540048","author_name":"XVirus","bid":"1500000000000000","engine":{"description":"Xvirus
        is a project that started in 2010. Our objective is to provide to consumers
        with simple but powerful products to keep their computers protected, clean
        and at top performance.","name":"XVirus"},"mask":true,"metadata":{"product":"xvirus","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"vendor_version":"3.0.2.0"}},"verdict":true},{"author":"84695705209944120","author_name":"Crowdstrike
        Falcon ML","bid":"0","engine":{"description":"CrowdStrike Falcon ML protects
        customers against all cyber attacks, using sophisticated signatureless artificial
        intelligence/machine learning and Indicator of Attack (IOA) based threat prevention
        to stop known and unknown threats in real-time.","name":"Crowdstrike Falcon
        ML"},"mask":true,"metadata":{"product":"crowdstrike-falcon","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"vendor_version":"2","version":"0.0.1"},"vendor_api_version":"2","vendor_endpoint":"https://hybrid-analysis.com/api/v2/quick-scan"},"verdict":null},{"author":"32946093848101608","author_name":"Filseclab","bid":"2500000000000000","engine":{"description":"","name":"Filseclab"},"mask":true,"metadata":{"malware_family":"EICAR.Test.File.zewa","product":"filseclab","scanner":{"engine_version":"1.0.2.2132","environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_timestamp":"Thursday,
        September 11, 2025 10:47:33 PM","signatures_version":"40.131.4421"}},"verdict":true},{"author":"24562635954883669","author_name":"Electron","bid":"2500000000000000","engine":{"description":"Multi-layered
        malware scanning using static analysis and ML-based heuristics to identify
        malicious files.","name":"Electron"},"mask":true,"metadata":{"domains":[],"heuristic":null,"ip_addresses":[],"malware_family":"{HEX}EICAR.TEST.3.UNOFFICIAL","scanner":null,"stix":[]},"verdict":true},{"author":"78657492523057803","author_name":"Proton","bid":"2500000000000000","engine":{"description":"Multi-layered
        malware scanning using static analysis and ML-based heuristics to identify
        malicious files.","name":"Proton"},"mask":true,"metadata":{"domains":[],"heuristic":null,"ip_addresses":[],"malware_family":"{HEX}EICAR.TEST.3.UNOFFICIAL","scanner":null,"stix":[]},"verdict":true},{"author":"14106784725859115","author_name":"DrWeb","bid":"2500000000000000[...]
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/consumer/submission/default/18283207297428233
  response:
    body:
      string: '{"result":{"artifact_id":"18283207297428233","assertions":[{"author":"33148585565356292","author_name":"Jiangmin","bid":"2500000000000000","engine":{"description":"Specializes
        in malicious files and business documents scanning","name":"Jiangmin"},"mask":true,"metadata":{"malware_family":"EICAR-Test-File","product":"jiangmin","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_version":"16.0.100","vendor_vendor":"1.0.0.0","version":"0.0.1"}},"verdict":true},{"author":"55328652711226799","author_name":"Alibaba","bid":"500000000000000","engine":{"description":"Engine
        based on cloud computing, big data technologies and a database with massive
        collection of confirmed malware and safe files. Multiple subsystems included,
        such as preprocessing, static analysis, dynamic analysis, and counterfeit
        software detection.","name":"Alibaba"},"mask":true,"metadata":{"comments":["REPORT_TYPE=eicar"],"malware_family":"Dos.EICAR-test-file","product":"Alibaba","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_version":"20180921112649","vendor_version":"0.2.0.3"}},"verdict":true},{"author":"45003009427661603","author_name":"Qihoo
        360","bid":"2500000000000000","engine":{"description":"Qihoo 360 is the largest
        provider of antivirus, Internet and mobile security products in China. QVM
        (Qihoo Support Vector Machin[...]
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/consumer/submission/default/18283207297428233
  response:
    body:
      string: '{"result":{"artifact_id":"18283207297428233","assertions":[{"author":"82454256513644328","author_name":"SecureAge","bid":"2500000000000000","engine":{"description":"The
        SecureAge APEX Engine harnesses the power of artificial intelligence (AI)
        to take on the threats of today and tomorrow. Leveraging on the power of big
        data, the APEX engine goes beyond traditional scanners by effectively and
        reliably spotting malicious patterns to allow for quick decisions based on
        prior experience. It can adaptively update its knowledge against newer and
        unseen malware variants that may attempt to infect endpoints during an outbreak.
        This approach makes it incredibly faster at detecting zero-day threats while
        having minimal footprint regarding performance and disk space when compared
        to traditional anti-malware engines.","name":"SecureAge"},"mask":true,"metadata":{"malware_family":"EICAR
        Anti-Virus Test File","product":"secureage","scanner":{"definition_version":"6.223","engine_version":"5.5.1","environment":{"architecture":"x86_64","operating_system":"Linux"}}},"verdict":true},{"author":"33148585565356292","author_name":"Jiangmin","bid":"2500000000000000","engine":{"description":"Specializes
        in malicious files and business documents scanning","name":"Jiangmin"},"mask":true,"metadata":{"malware_family":"EICAR-Test-File","product":"jiangmin","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_version":"16.0.1[...]
[...]
