OPENCTI_URL=http://opencti:8080
# Use one as provided by the platform
OPENCTI_TOKEN=
# Generate one with uuidgen
CONNECTOR_ID=
# From 0 (Unknown) to 100 (Fully trusted)
CONNECTOR_CONFIDENCE_LEVEL=100 
# One of the following: debug, info, warning, error
CONNECTOR_LOG_LEVEL=info
CONNECTOR_RUN_EVERY=60s
CONNECTOR_UPDATE_EXISTING_DATA=false
CONNECTOR_SCOPE=stix2
CONNECTOR_NAME=ExternalImportConnectorTemplate
# Connector specifc parameters. Add anyone as required
EXTRA_PARAMETER=foobar
#CONNECTOR_EXTERNAL_API_KEY=
