opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  name: 'TemplateConnector'
  scope: 'ChangeMe'
  log_level: 'error'
  duration_period: 'PT5M' # Interval given for scheduler process in ISO-8601 format

template:
  api_base_url: 'ChangeMe'
  api_key: 'ChangeMe'
  tlp_level: 'clear' # available values: 'clear', 'white', 'green', 'amber', 'amber+strict', 'red' (default: 'clear')