# Connector's generic execution parameters
OPENCTI_URL=http://localhost:8080
OPENCTI_TOKEN=ChangeMe

# Connector's definition parameters REQUIRED
# CONNECTOR_ID=c2635ebc-67f7-43a4-9caa-0d10cdc95b85
# CONNECTOR_NAME="ProofPoint TAP"
# CONNECTOR_SCOPE=report
# CONNECTOR_DURATION_PERIOD=PT12H
# CONNECTOR_LOG_LEVEL=warn

# ProofPoint TAP parameters
# PROOFPOINT_TAP_API_BASE_URL=https://tap-api-v2.proofpoint.com/
PROOFPOINT_TAP_API_PRINCIPAL=ChangeMe
PROOFPOINT_TAP_API_SECRET=ChangeMe
# PROOFPOINT_TAP_API_TIMEOUT=PT30S
# PROOFPOINT_TAP_API_RETRIES=3
# PROOFPOINT_TAP_API_BACKOFF=PT5S
# PROOFPOINT_TAP_MARKING_DEFINITION=white
# PROOFPOINT_TAP_EXPORT_CAMPAIGNS=True
# PROOFPOINT_TAP_EXPORT_EVENTS=False
# PROOFPOINT_TAP_EVENTS_TYPE=issues
