# === OpenCTI Server ===
# http://opencti:8080 - for docker deployment, http://localhost:8080 - for manual deployment
OPENCTI_URL=http://opencti:8080
# Use one as provided by the OpenCTI platform
OPENCTI_TOKEN=

# === OpenCTI Connector ===
# Docker container name
CONNECTOR_DOCKER_CONTAINER_NAME=gib_connector
# Generate one with uuidgen (https://www.uuidgenerator.net/version4)
CONNECTOR_ID=
CONNECTOR_TYPE=EXTERNAL_IMPORT
CONNECTOR_NAME=Group-IB Connector
CONNECTOR_SCOPE=stix2,ipv4-addr,ipv6-addr,vulnerability,domain,url,StixFile
# One of the following: debug, info, warning, error
CONNECTOR_LOG_LEVEL="info"
# Specifies the time interval in ISO 8601 format (Duration):
# Format: P[n]Y[n]M[n]DT[n]H[n]M[n]S
# - P: indicates the beginning of the period (Period).
# - T: separates date and time, used before time components.
# - n: a number representing a quantity (e.g. 3 for 3 minutes).
# 
# Examples:
# - PT3M: an interval of 3 minutes.
# - PT5S: an interval of 5 seconds.
# - P1DT2H: an interval of 1 day and 2 hours.
CONNECTOR_DURATION_PERIOD=PT60M
# From 0 (Unknown) to 100 (Fully trusted)
CONNECTOR_CONFIDENCE_LEVEL=0
CONNECTOR_UPDATE_EXISTING_DATA=true

# === RabbitMQ Server used for integration manual run ===
CONNECTOR_MQ_HOST=localhost
CONNECTOR_MQ_PORT=5672
CONNECTOR_MQ_VHOST=/
CONNECTOR_MQ_USE_SSL=false
CONNECTOR_MQ_USER=guest
CONNECTOR_MQ_PASS=guest

# === Threat Intelligence API Server ===
# Connector specific parameters. All params are mandatory.
TI_API__URL=https://tap.group-ib.com/api/v2/
TI_API__USERNAME=
TI_API__TOKEN=

# === Threat Intelligence API Proxy ===
# Proxy specifc parameters. You can leave them blank.
TI_API__PROXY__IP=
TI_API__PROXY__PORT=
TI_API__PROXY__PROTOCOL=
TI_API__PROXY__USERNAME=
TI_API__PROXY__PASSWORD=

# Threat Intelligence Collections settings
TI_API__EXTRA_SETTINGS__IGNORE_NON_INDICATOR_THREAT_REPORTS=false
TI_API__EXTRA_SETTINGS__IGNORE_NON_INDICATOR_THREATS=false
TI_API__EXTRA_SETTINGS__IGNORE_NON_MALWARE_DDOS=true
TI_API__EXTRA_SETTINGS__INTRUSION_SET_INSTEAD_OF_THREAT_ACTOR=false
TI_API__EXTRA_SETTINGS__SCHEDULE_TIME=00:00
TI_API__EXTRA_SETTINGS__TIME_OUTPUT_FORMAT='%Y-%m-%d %H:%M:%S'

# Collections
TI_API__COLLECTIONS__APT_THREAT__DEFAULT_DATE=
TI_API__COLLECTIONS__APT_THREAT__ENABLE=false
TI_API__COLLECTIONS__APT_THREAT__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__APT_THREAT__TTL=90

TI_API__COLLECTIONS__APT_THREAT_ACTOR__DEFAULT_DATE=
TI_API__COLLECTIONS__APT_THREAT_ACTOR__ENABLE=false
TI_API__COLLECTIONS__APT_THREAT_ACTOR__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__APT_THREAT_ACTOR__TTL=90

TI_API__COLLECTIONS__ATTACKS_DDOS__DEFAULT_DATE=
TI_API__COLLECTIONS__ATTACKS_DDOS__ENABLE=false
TI_API__COLLECTIONS__ATTACKS_DDOS__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__ATTACKS_DDOS__TTL=30

TI_API__COLLECTIONS__ATTACKS_DEFACE__DEFAULT_DATE=
TI_API__COLLECTIONS__ATTACKS_DEFACE__ENABLE=false
TI_API__COLLECTIONS__ATTACKS_DEFACE__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__ATTACKS_DEFACE__TTL=30

TI_API__COLLECTIONS__ATTACKS_PHISHING_GROUP__DEFAULT_DATE=
TI_API__COLLECTIONS__ATTACKS_PHISHING_GROUP__ENABLE=false
TI_API__COLLECTIONS__ATTACKS_PHISHING_GROUP__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__ATTACKS_PHISHING_GROUP__TTL=30

TI_API__COLLECTIONS__ATTACKS_PHISHING_KIT__DEFAULT_DATE=
TI_API__COLLECTIONS__ATTACKS_PHISHING_KIT__ENABLE=false
TI_API__COLLECTIONS__ATTACKS_PHISHING_KIT__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__ATTACKS_PHISHING_KIT__TTL=30

TI_API__COLLECTIONS__COMPROMISED_ACCESS__DEFAULT_DATE=Warning! Collection is not implemented in the current version
TI_API__COLLECTIONS__COMPROMISED_ACCESS__ENABLE=false
TI_API__COLLECTIONS__COMPROMISED_ACCESS__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__COMPROMISED_ACCESS__TTL=90

TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__DEFAULT_DATE=Warning! Collection is not implemented in the current version
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__ENABLE=false
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__TTL=90

TI_API__COLLECTIONS__COMPROMISED_BANK_CARD_GROUP__DEFAULT_DATE=Warning! Collection is not implemented in the current version
TI_API__COLLECTIONS__COMPROMISED_BANK_CARD_GROUP__ENABLE=false
TI_API__COLLECTIONS__COMPROMISED_BANK_CARD_GROUP__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__COMPROMISED_BANK_CARD_GROUP__TTL=90

TI_API__COLLECTIONS__COMPROMISED_DISCORD__DEFAULT_DATE="Warning! Collection is not implemented in the current version"
TI_API__COLLECTIONS__COMPROMISED_DISCORD__ENABLE=false
TI_API__COLLECTIONS__COMPROMISED_DISCORD__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__COMPROMISED_DISCORD__TTL=

TI_API__COLLECTIONS__COMPROMISED_IMEI__DEFAULT_DATE="Warning! Collection is not implemented in the current version"
TI_API__COLLECTIONS__COMPROMISED_IMEI__ENABLE=false
TI_API__COLLECTIONS__COMPROMISED_IMEI__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__COMPROMISED_IMEI__TTL=30

TI_API__COLLECTIONS__COMPROMISED_MASKED_CARD__DEFAULT_DATE="Warning! Collection is not implemented in the current version"
TI_API__COLLECTIONS__COMPROMISED_MASKED_CARD__ENABLE=false
TI_API__COLLECTIONS__COMPROMISED_MASKED_CARD__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__COMPROMISED_MASKED_CARD__TTL=90

TI_API__COLLECTIONS__COMPROMISED_MESSENGER__DEFAULT_DATE="Warning! Collection is not implemented in the current version"
TI_API__COLLECTIONS__COMPROMISED_MESSENGER__ENABLE=false
TI_API__COLLECTIONS__COMPROMISED_MESSENGER__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__COMPROMISED_MESSENGER__TTL=

TI_API__COLLECTIONS__COMPROMISED_MULE__DEFAULT_DATE="Warning! Collection is not implemented in the current version"
TI_API__COLLECTIONS__COMPROMISED_MULE__ENABLE=false
TI_API__COLLECTIONS__COMPROMISED_MULE__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__COMPROMISED_MULE__TTL=30

TI_API__COLLECTIONS__HI_OPEN_THREATS__DEFAULT_DATE="Warning! Collection is not implemented in the current version"
TI_API__COLLECTIONS__HI_OPEN_THREATS__ENABLE=false
TI_API__COLLECTIONS__HI_OPEN_THREATS__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__HI_OPEN_THREATS__TTL=

TI_API__COLLECTIONS__HI_THREAT__DEFAULT_DATE=
TI_API__COLLECTIONS__HI_THREAT__ENABLE=false
TI_API__COLLECTIONS__HI_THREAT__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__HI_THREAT__TTL=90

TI_API__COLLECTIONS__HI_THREAT_ACTOR__DEFAULT_DATE=
TI_API__COLLECTIONS__HI_THREAT_ACTOR__ENABLE=false
TI_API__COLLECTIONS__HI_THREAT_ACTOR__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__HI_THREAT_ACTOR__TTL=90

TI_API__COLLECTIONS__IOC_COMMON__DEFAULT_DATE="Warning! Collection is not implemented in the current version"
TI_API__COLLECTIONS__IOC_COMMON__ENABLE=false
TI_API__COLLECTIONS__IOC_COMMON__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__IOC_COMMON__TTL=90

TI_API__COLLECTIONS__MALWARE_CNC__DEFAULT_DATE="Warning! Collection is not implemented in the current version"
TI_API__COLLECTIONS__MALWARE_CNC__ENABLE=false
TI_API__COLLECTIONS__MALWARE_CNC__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__MALWARE_CNC__TTL=90

TI_API__COLLECTIONS__MALWARE_CONFIG__DEFAULT_DATE=Warning! Collection is not implemented in the current version
TI_API__COLLECTIONS__MALWARE_CONFIG__ENABLE=false
TI_API__COLLECTIONS__MALWARE_CONFIG__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__MALWARE_CONFIG__TTL=30

TI_API__COLLECTIONS__MALWARE_MALWARE__DEFAULT_DATE=
TI_API__COLLECTIONS__MALWARE_MALWARE__ENABLE=false
TI_API__COLLECTIONS__MALWARE_MALWARE__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__MALWARE_MALWARE__TTL=

TI_API__COLLECTIONS__MALWARE_SIGNATURE__DEFAULT_DATE=
TI_API__COLLECTIONS__MALWARE_SIGNATURE__ENABLE=false
TI_API__COLLECTIONS__MALWARE_SIGNATURE__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__MALWARE_SIGNATURE__TTL=

TI_API__COLLECTIONS__MALWARE_YARA__DEFAULT_DATE=
TI_API__COLLECTIONS__MALWARE_YARA__ENABLE=false
TI_API__COLLECTIONS__MALWARE_YARA__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__MALWARE_YARA__TTL=

TI_API__COLLECTIONS__OSI_GIT_REPOSITORY__DEFAULT_DATE="Warning! Collection is not implemented in the current version"
TI_API__COLLECTIONS__OSI_GIT_REPOSITORY__ENABLE=false
TI_API__COLLECTIONS__OSI_GIT_REPOSITORY__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__OSI_GIT_REPOSITORY__TTL=30

TI_API__COLLECTIONS__OSI_PUBLIC_LEAK__DEFAULT_DATE="Warning! Collection is not implemented in the current version"
TI_API__COLLECTIONS__OSI_PUBLIC_LEAK__ENABLE=false
TI_API__COLLECTIONS__OSI_PUBLIC_LEAK__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__OSI_PUBLIC_LEAK__TTL=30

TI_API__COLLECTIONS__OSI_VULNERABILITY__DEFAULT_DATE=
TI_API__COLLECTIONS__OSI_VULNERABILITY__ENABLE=false
TI_API__COLLECTIONS__OSI_VULNERABILITY__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__OSI_VULNERABILITY__TTL=30

TI_API__COLLECTIONS__SUSPICIOUS_IP_OPEN_PROXY__DEFAULT_DATE=
TI_API__COLLECTIONS__SUSPICIOUS_IP_OPEN_PROXY__ENABLE=false
TI_API__COLLECTIONS__SUSPICIOUS_IP_OPEN_PROXY__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__SUSPICIOUS_IP_OPEN_PROXY__TTL=15

TI_API__COLLECTIONS__SUSPICIOUS_IP_SCANNER__DEFAULT_DATE=
TI_API__COLLECTIONS__SUSPICIOUS_IP_SCANNER__ENABLE=false
TI_API__COLLECTIONS__SUSPICIOUS_IP_SCANNER__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__SUSPICIOUS_IP_SCANNER__TTL=15

TI_API__COLLECTIONS__SUSPICIOUS_IP_SOCKS_PROXY__DEFAULT_DATE=
TI_API__COLLECTIONS__SUSPICIOUS_IP_SOCKS_PROXY__ENABLE=false
TI_API__COLLECTIONS__SUSPICIOUS_IP_SOCKS_PROXY__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__SUSPICIOUS_IP_SOCKS_PROXY__TTL=2

TI_API__COLLECTIONS__SUSPICIOUS_IP_TOR_NODE__DEFAULT_DATE=
TI_API__COLLECTIONS__SUSPICIOUS_IP_TOR_NODE__ENABLE=false
TI_API__COLLECTIONS__SUSPICIOUS_IP_TOR_NODE__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__SUSPICIOUS_IP_TOR_NODE__TTL=30

TI_API__COLLECTIONS__SUSPICIOUS_IP_VPN__DEFAULT_DATE=
TI_API__COLLECTIONS__SUSPICIOUS_IP_VPN__ENABLE=false
TI_API__COLLECTIONS__SUSPICIOUS_IP_VPN__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__SUSPICIOUS_IP_VPN__TTL=30