OPENCTI_URL=http://opencti:8080
# Use one as provided by the platform
OPENCTI_TOKEN=
# Generate one with uuidgen
CONNECTOR_ID=
CONNECTOR_SCOPE=stix2
# One of the following: debug, info, warning, error
CONNECTOR_LOG_LEVEL=info
CONNECTOR_RUN_EVERY=5m
# Whether to update existing data or not
CONNECTOR_UPDATE_EXISTING_DATA=false
# Connector specifc parameters. Add anyone as required
CONTAINER_NAME=intelfinder
# Custom Connector parameters
INTELFINDER_TOKEN=
INTELFINDER_LABELS=
INTELFINDER_MARKING_REFS=
# Optional Seed Alert ID to be used as a starting point
INTELFINDER_SEED_ALERT_ID=