opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'STREAM'
  name: 'Synchronizer'
  scope: 'synchronizer'
  confidence_level: 15 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

remote_opencti:
  url: 'http://remote.opencti.io:8080'
  token: 'ChangeMe'
  events: 'create,update,delete'