opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

#connector:
  #id: 'tagger--b5970f8a-ce4b-4497-a381-20b7256f5777'
  #name:  'Tagger'
  #scope: 'report,malware,tool'
  #auto: true
  #log_level: 'info'

#tagger:
#  definitions: '[{"scopes":["Report","Tool"],"rules":[{"label":"cloud","search":"[Cc]loud","attributes":["name","description"]},{"label":"mobile","search":"mobile|android|apk","flags":["IGNORECASE"],"attributes":["name","description"]}]},{"scopes":["Malware"],"rules":[{"label":"windows","search":"registry|regkey","flags":["IGNORECASE"],"attributes":["description"]}]}]'
