opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'


connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Infoblox'
  scope: 'Infoblox'
  log_level: 'info'


infoblox:
  api_key: 'ChangeMe'
  url: 'https://csp.infoblox.com/tide/api/data/threats'
  interval: 12 # In hours
  ioc_limit: '10000' # Limit of IOCs to import (for each IOC types)
  marking_definition: 'TLP:AMBER'