opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'VirusTotal'
  type: 'INTERNAL_ENRICHMENT'
  name: 'VirusTotal'
  scope: 'StixFile,Artifact,IPv4-Addr,Domain-Name,Url'
  auto: true # Enable/disable auto-enrichment of observables
  confidence_level: 50 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

virustotal:
  token: 'ChangeMe'
  max_tlp: 'TLP:AMBER'
  replace_with_lower_score: false # Whether to keep the higher of the VT or existing score (false) or force the score to be updated with the VT score even if its lower than existing score (true).

  # File/Artifact specific config settings
  file_create_note_full_report: true # Whether or not to include the full report as a Note
  file_upload_unseen_artifacts: false # Whether to upload artifacts (smaller than 32MB) that VirusTotal has no record of
  ##### WAIT_FOR_ARTIFACT_ANALYSIS_COMPLETION DETAILS ##### VirusTotal (VT) analysis of a new file can take tens of minutes to process dependent on size and priority in the VT analysis queue. Since this connector is a blocking process, it will attempt to wait a maximum of 25 minutes for analysis of the artifact to finish before enriching it with VT data. This delay will push all other calls being sent to VT into this connector's queue until the analysis is complete. If your VT connector is set to automatic enrichment above (CONNECTOR_AUTO=true) and you expect it to be making requests to the VT API frequently, it is suggested you:
  # 1) Disable the delaying block by changing the below VIRUSTOTAL_FILE_WAIT_FOR_ARTIFACT_ANALYSIS_COMPLETION to false. This will upload the artifact but will very likely require manually rerunning enrichment at a later time since the artifact is not analyzed immediately.
  # 2) Change the number of replicas of this connector in the docker-compose yaml file (deploy->replicas) so that as one VT connector waits for analysis to finish, another one can concurrently fetch results from the VT API.
  file_wait_for_artifact_analysis_completion: true # If upload unseen artifacts is enabled, have the connector wait for analysis completion and enrichment (within 25 minute timeout)
  file_indicator_create_positives: 0 # Create an indicator for File/Artifact based observables once this positive threshold is reached. Note: specify 0 to disable indicator creation
  file_indicator_valid_minutes: 2880 # How long the indicator is valid for in minutes
  file_indicator_detect: true # Whether or not to set detection for the indicator to true

  # IP specific config settings
  ip_indicator_create_positives: 0 # Create an indicator for IPv4 based observables once this positive threshold is reached. Note: specify 0 to disable indicator creation
  ip_indicator_valid_minutes: 2880 # How long the indicator is valid for in minutes
  ip_indicator_detect: true # Whether or not to set detection for the indicator to true

  # Domain specific config settings
  domain_indicator_create_positives: 0 # Create an indicator for Domain based observables once this positive threshold is reached. Note: specify 0 to disable indicator creation
  domain_indicator_valid_minutes: 2880 # How long the indicator is valid for in minutes
  domain_indicator_detect: true # Whether or not to set detection for the indicator to true

  # URL specific config settings
  url_indicator_create_positives: 0 # Create an indicator for Url based observables once this positive threshold is reached. Note: specify 0 to disable indicator creation
  url_indicator_valid_minutes: 2880 # How long the indicator is valid for in minutes
  url_indicator_detect: true # Whether or not to set detection for the indicator to true
