OPENCTI_URL=http://localhost:8080
OPENCTI_TOKEN=ChangeMe
CONNECTOR_ID=ChangeMe
CONNECTOR_SCOPE=IPv4-Addr,IPv6-Addr,Indicator
# CONNECTOR_NAME=ShadowTrackr
# CONNECTOR_TYPE=INTERNAL_ENRICHMENT
# CONNECTOR_AUTO=true
# CONNECTOR_LOG_LEVEL=error
SHADOWTRACKR_API_KEY=ChangeMe
# SHADOWTRACKR_MAX_TLP=TLP:AMBER
# SHADOWTRACKR_REPLACE_WITH_LOWER_SCORE=false  # Lower the score based on the ShadowTrackr false positive estimate
# SHADOWTRACKR_REPLACE_VALID_TO_DATE=true  # Set the valid to date to tomorrow for CDNs, Clouds and VPNs.