OPENCTI_URL=http://localhost
OPENCTI_TOKEN=ChangeMe
#CONNECTOR_ID=ChangeMe
#CONNECTOR_LOG_LEVEL=info
#CONNECTOR_DURATION_PERIOD=P1D
#CONNECTOR_SCOPE=orkl
#CONNECTOR_NAME=ORKL
#ORKL_API_BASE_URL=https://orkl.eu/api/v1
#ORKL_IMPORT_START_DATE=P30D
#ORKL_TLP_LEVEL=clear
#ORKL_THREAT_ACTOR_AS_INTRUSION_SET=true
#ORKL_INGEST_TOOLS=false
#ORKL_USER_AGENT=OpenCTI-ORKL-Connector/1.0 (+https://github.com/OpenCTI-Platform/connectors)
