opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'WhoisFreaks'
  scope: 'Domain-Name,IPv4-Addr,IPv6-Addr'
  auto: false
  log_level: 'info'

whoisfreaks:
  api_key: 'ChangeMe'
  tlp_level: 'amber+strict'
