pycti==7.260817.0
stix2>=3.0.1
requests>=2.31.0
pyyaml>=6.0.1
pydantic>=2.10,<3
pydantic-settings>=2.9.1,<3
connectors-sdk @ git+https://github.com/OpenCTI-Platform/connectors.git@7.260817.0#subdirectory=connectors-sdk
