opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'TheHive'
  scope: 'thehive'
  confidence_level: 80 # From 0 (Unknown) to 100 (Fully trusted)
  update_existing_data: false
  log_level: 'info'

thehive:
  url: 'https://thehive.changeme.com'
  api_key: 'ChangeMe'
  check_ssl: true
  organization_name: 'MyCompany'
  import_from_date: '2021-01-01T00:00:00' # Optional
  import_alerts: true