CONNECTOR_DOCKER_CONTAINER_NAME=gib-accounts-combolist
# Generate one with uuidgen (https://www.uuidgenerator.net/version4)
CONNECTOR_ID=ChangeMe
CONNECTOR_NAME=Group-IB Connector Compromised Accounts (Combolist)

TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_DEFAULT_DATE=
TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_ENABLE=false
TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_LOCAL_CUSTOM_TAG=null
TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_TTL=1460
# Compromised account group: connector behaviour
TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_INCLUDE_PASSWORDS=false
TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_INCLUDE_MALWARE_LABELS=true
TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_INCLUDE_MALWARE_THREAT_ACTOR_LABELS=true
# If true, add labels from API field "source_type" (e.g. leak type) to observables/entities as bare values
TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_INCLUDE_SOURCE_TYPE_LABELS=true
TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_DESCRIPTION_IN_EXTERNAL_REFERENCES=false
# Compromised account group: API request params
TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_UNIQUE=0
TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_COMBOLIST=1
TI_API_COLLECTIONS_COMPROMISED_ACCOUNT_GROUP_PROBABLE_CORPORATE_ACCESS=0
