CONNECTOR_DOCKER_CONTAINER_NAME=gib-attacks
# Generate one with uuidgen (https://www.uuidgenerator.net/version4)
CONNECTOR_ID=ChangeMe
CONNECTOR_NAME=Group-IB Connector Attack Telemetry

TI_API_COLLECTIONS_ATTACKS_DDOS_DEFAULT_DATE=
TI_API_COLLECTIONS_ATTACKS_DDOS_ENABLE=false
TI_API_COLLECTIONS_ATTACKS_DDOS_LOCAL_CUSTOM_TAG=null
TI_API_COLLECTIONS_ATTACKS_DDOS_TTL=10
TI_API_COLLECTIONS_ATTACKS_DDOS_USE_HUNTING_RULES=false

TI_API_COLLECTIONS_ATTACKS_DEFACE_DEFAULT_DATE=
TI_API_COLLECTIONS_ATTACKS_DEFACE_ENABLE=false
TI_API_COLLECTIONS_ATTACKS_DEFACE_LOCAL_CUSTOM_TAG=null
TI_API_COLLECTIONS_ATTACKS_DEFACE_TTL=10

TI_API_COLLECTIONS_ATTACKS_PHISHING_GROUP_DEFAULT_DATE=
TI_API_COLLECTIONS_ATTACKS_PHISHING_GROUP_ENABLE=false
TI_API_COLLECTIONS_ATTACKS_PHISHING_GROUP_LOCAL_CUSTOM_TAG=null
TI_API_COLLECTIONS_ATTACKS_PHISHING_GROUP_TTL=5
TI_API_COLLECTIONS_ATTACKS_PHISHING_GROUP_USE_HUNTING_RULES=false

TI_API_COLLECTIONS_ATTACKS_PHISHING_KIT_DEFAULT_DATE=
TI_API_COLLECTIONS_ATTACKS_PHISHING_KIT_ENABLE=false
TI_API_COLLECTIONS_ATTACKS_PHISHING_KIT_LOCAL_CUSTOM_TAG=null
TI_API_COLLECTIONS_ATTACKS_PHISHING_KIT_TTL=30
TI_API_COLLECTIONS_ATTACKS_PHISHING_KIT_USE_HUNTING_RULES=false
