opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'CISA Known Exploited Vulnerability Catalog'
  scope: 'identity,infrastructure,vulnerability'
  confidence_level: 100 # From 0 (Unknown) to 100 (Fully trusted)
  update_existing_data: true
  run_and_terminate: false
  log_level: 'info'
  tlp: 'TLP:WHITE'

cisa:
  data_feed: 'https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json'
  import_history: True # Import history at the first run (after only recent), reset the connector state if you want to re-import
  interval: 7 # In days, must be strictly greater than 1