opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Hybrid Analysis (Sandbox Windows 10 64bit)'
  scope: 'StixFile,Url,Domain-Name,Hostname'
  auto: false # Enable/disable auto-enrichment of observables
  confidence_level: 50 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

hybrid_analysis:
  api_key: 'ChangeMe'
  environment_id: 110 # Available environments ID: 300: 'Linux (Ubuntu 16.04, 64 bit)', 200: 'Android Static Analysis', 120: 'Windows 7 64 bit', 110: 'Windows 7 32 bit (HWP Support)', 100: 'Windows 7 32 bit'
  max_tlp: 'TLP:AMBER'
