# OpenCTI configuration
OPENCTI_URL=http://localhost:PORT
OPENCTI_TOKEN=ChangeMe

# Common connector configuration
#CONNECTOR_ID=bitdefender-feeds-9aae46c5-9e5a-4379-9f1b-49202674de3f
#CONNECTOR_NAME='Bitdefender Feeds Importer'
#CONNECTOR_SCOPE=bitdefender-feeds
#CONNECTOR_LOG_LEVEL=info
#CONNECTOR_DURATION_PERIOD=PT1H

# Connector configuration
BITDEFENDER_API_KEY=ChangeMe
BITDEFENDER_FEEDS=file,web,ip
