OPENCTI_URL=http://opencti:4000
OPENCTI_TOKEN=CHANGME

CONNECTOR_ID=CHANGEME
CONNECTOR_NAME=Recorded Future Enrichment
CONNECTOR_SCOPE=ipv4-addr,ipv6-addr,domain-name,url,stixfile,vulnerability
CONNECTOR_AUTO=false
CONNECTOR_LOG_LEVEL=error

RECORDED_FUTURE_TOKEN=CHANGEME
RECORDED_FUTURE_INFO_MAX_TLP=TLP:AMBER
RECORDED_FUTURE_CREATE_INDICATOR_THRESHOLD=0
RECORDED_FUTURE_VULNERABILITY_ENRICHMENT_OPTIONAL_FIELDS=aiInsights,cpe,risk
