# Connector's generic execution parameters
OPENCTI_URL=http://opencti:8080
OPENCTI_TOKEN=CHANGEME

# Connector's definition parameters REQUIRED
CONNECTOR_ID=CHANGEME
CONNECTOR_NAME=SOCRadar
CONNECTOR_SCOPE=CHANGEME
CONNECTOR_LOG_LEVEL=error
CONNECTOR_DURATION_PERIOD=PT10M

# Connector's custom execution parameters
RADAR_BASE_FEED_URL=https://platform.socradar.com/api/threat/intelligence/feed_list/
RADAR_SOCRADAR_KEY=CHANGEME
RADAR_FEED_LISTS='{"feed_list_1":"ID_1","feed_list_2":"ID_2"}'