# Connector's generic execution parameters
OPENCTI_URL=http://opencti:8080
OPENCTI_TOKEN=CHANGEME

# Connector's definition parameters REQUIRED
CONNECTOR_ID=CHANGEME
CONNECTOR_NAME=SOCRadar
CONNECTOR_SCOPE=CHANGEME
CONNECTOR_LOG_LEVEL=error
CONNECTOR_DURATION_PERIOD=PT10M # ISO8601 format in String, start with 'P...' for Period

# Connector's custom execution parameters
RADAR_BASE_FEED_URL=https://platform.socradar.com/api/threat/intelligence/feed_list/ # required
RADAR_SOCRADAR_KEY=CHANGEME
RADAR_FEED_LISTS=CHANGEME