interactions:
- request:
    body: null
    headers:
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/analystnote/search?published=-1000h&limit=10&source=VKz42X&topic=ZjnoP2
  response:
    body:
      string: "{\"data\":{\"results\":[{\"attributes\":{\"validated_on\":\"2024-03-01T18:09:16.446Z\",\"published\":\"2024-03-01T18:56:08.489Z\",\"text\":\"RedDelta
        (also known as Earth Preta, Mustang Panda, Temp.Hex, Red Lich, and BRONZE
        PRESIDENT) is a suspected Chinese state-sponsored group that has been observed
        persistently targeting government, non-governmental, and religious organizations
        within Europe and Southeast Asia using consistently updated PlugX versions
        since at least 2019. Previous reporting on this customized PlugX malware by
        Insikt Group can be found in the Validation URL section [...]
- request:
    body: '{"filter": {"doc_id": "doc:ut2OD-"}, "limit": 1}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: "{\"count\":1,\"total_count\":1,\"result\":[{\"id\":\"doc:ut2OD-\",\"type\":\"yara\",\"title\":\"Insikt
        Validated TTP: Detecting DOPLUGS, a PlugX Variant, Using YARA\",\"description\":\"RedDelta
        (also known as Earth Preta, Mustang Panda, Temp.Hex, Red Lich, and BRONZE
        PRESIDENT) is a suspected Chinese state-sponsored group that has been observed
        persistently targeting government, non-governmental, and religious organizations
        within Europe and Southeast Asia using consistently updated PlugX versions
        since at least 2019. Previous reporting on this customized PlugX malware by
        Insikt Group can be found in the Validation URL section [...]
- request:
    body: '{"filter": {"doc_id": "doc:ut8i16"}, "limit": 1}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count":1,"total_count":1,"result":[{"id":"doc:ut8i16","type":"snort","title":"SNORT
        Rule: Detect Formbook/XLoader","description":"The attached SNORT rule can
        be used to detect network communications associated with Formbook/XLoader
        malware.","created":"2024-03-01T20:53:49.369Z","updated":"2024-03-01T20:53:49.369Z","rules":[{"entities":[{"id":"T5WQpJ","type":"Malware","name":"Formbook"},{"id":"CzXnMO","type":"Technology","name":"Snort
        Rules"}],"content":"alert tcp $HOME_NET any -> $EXTERNAL_NET any (msg:\"Formbook/XLoader
        Malware Outbound HTTP GET Request\"; flow:established,to_server; dsize:150<>225;
        content:\"GET|20 2F|\"; depth:5; content:\"|2F 3F|\"; distance:2; within:4;  content:\"HTTP|2F|1|2E|1|0D
        0A|Host|3A 20|\"; distance:0; content:\"on|3A 20|close|0D 0A 0D 0A 00 00 00
        00 00 00|\"; fast_pattern; distance:0; isdataat:!1,relative; content:!\"User-Agent\";
        content:!\"Accept\"; pcre:\"/Host\\x3a\\x20[^\\x0d]+\\x0d\\x0aConnection\\x3a/\";
        sid:52460146; reference:url,https://tria.ge/240301-p1k7ssgd22; metadata:date
        2024-02-29; metadata: author MGUT; )\n","file_name":"mal_formbook_snort.txt"}]}],"next_offset":"eyJvZmZzZXQiOlsxMTkyOF19"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filter": {"doc_id": "doc:uz-DXq"}, "limit": 1}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count":1,"total_count":1,"result":[{"id":"doc:uz-DXq","type":"snort","title":"SNORT
        rules: Detect Meduza Stealer","description":"The attached SNORT rules can
        be used to detect network communications associated with Meduza Stealer malware.","created":"2024-03-08T22:30:58.296Z","updated":"2024-03-08T22:31:33.327Z","rules":[{"entities":[{"id":"rnxtIo","type":"Malware","name":"Meduza
        Stealer"},{"id":"CzXnMO","type":"Technology","name":"Snort Rules"},{"id":"SMlvRl","type":"MalwareCategory","name":"Stealware"}],"content":"alert
        tcp $HOME_NET any -> $EXTERNAL_NET any (msg:\"Meduza Stealer Malware Outbound
        Data Exfiltration\"; flow:established,to_server; stream_size:server,=,1; content:\"ewogICAgI\";
        depth:9; pcre:\"/(Rk1hWFJs|IlUxRk1h|VTFGTWFY)/\"; sid:52460147; reference:url,https://tria.ge/240307-zpd98adf78/behavioral2;
        metadata: date 2024-03-05; metadata: author MGUT; )\n\nalert tcp $HOME_NET
        any -> $EXTERNAL_NET any (msg:\"Meduza Stealer Malware Outbound Browser Database
        Exfiltration\"; flow:established,to_server; stream_size:server,=,1; content:\"ewogICAgI\";
        depth:9; pcre:\"/(ICJjb250|Y29udGVu|ImNvbnRl)/\"; sid:52460148; reference:url,https://tria.ge/240302-f4v2qsag9t/behavioral2;
        metadata: date 2024-03-05; metadata: author MGUT; )\n","file_name":"mal_meduza_stealer_snort.txt"}]}],"next_offset":"eyJvZmZzZXQiOlsxMDk3OV19"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"filter": {"doc_id": "doc:uz-HUC"}, "limit": 1}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count":1,"total_count":1,"result":[{"id":"doc:uz-HUC","type":"snort","title":"SNORT
        rule: Aurora Stealer","description":"The attached SNORT rule can be used to
        detect network communications associated with Aurora Stealer malware.","created":"2024-03-08T22:33:05.925Z","updated":"2024-03-08T22:33:05.924Z","rules":[{"entities":[{"id":"n8q6Jn","type":"Malware","name":"Aurora
        Stealer"},{"id":"CzXnMO","type":"Technology","name":"Snort Rules"},{"id":"SMlvRl","type":"MalwareCategory","name":"Stealware"}],"content":"alert
        tcp $EXTERNAL_NET any -> $HOME_NET any (msg:\"Aurora Stealer Malware Inbound
        C2 Communication\"; flow:established,to_client; dsize:5; stream_size:client,=,1;
        stream_size:server,=,6; content:\"WORK|0A|\"; depth:5; sid:52460149; reference:url,https://tria.ge/230329-g1gwdafa48/behavioral2;
        metadata: date 2024-03-05; metadata: author MGUT; )\n","file_name":"mal_aurora_stealer_snort.txt"}]}],"next_offset":"eyJvZmZzZXQiOls5ODEwXX0="}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filter": {"doc_id": "doc:u30CIE"}, "limit": 1}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count":1,"total_count":1,"result":[{"id":"doc:u30CIE","type":"snort","title":"SNORT
        Rules: Detect MetaStealer Malware","description":"The attached SNORT rules
        can be used to detect network communications associated with MetaStealer Malware.","created":"2024-03-13T16:55:24.401Z","updated":"2024-03-15T16:39:44.007Z","rules":[{"entities":[{"id":"mPUH36","type":"Malware","name":"MetaStealer"},{"id":"CzXnMO","type":"Technology","name":"Snort
        Rules"},{"id":"dMi0G8","type":"Malware","name":"RedLine Stealer"}],"content":"alert
        tcp any any -> any any (msg:\"MetaStealer Malware C2 Communication\"; flow:established;
        content:\"http|3A 2F 2F|tempuri|2E|org|2F|RestAPI|2F|TreeObject\"; fast_pattern:11,20;
        offset:3; depth:50; sid:52460154; reference:url,https://tria.ge/240308-yggjyaef72;
        metadata: date 2024-03-11; metadata: author MGUT;)\n\nalert tcp any any ->
        any any (msg:\"MetaStealer Malware C2 Communication\"; flow:established; content:\"http|3A
        2F 2F|tempuri|2E|org|2F|Contract|2F|MSValue\"; fast_pattern:11,20; offset:3;
        depth:50; sid:52460153; reference:url,https://tria.ge/231009-hlan7adc28; metadata:
        date 2024-03-11; metadata: author MGUT;)\n\nalert tcp any any -> any any (msg:\"MetaStealer
        Malware C2 Communication\"; flow:established; content:\"http|3A 2F 2F|tempuri|2E|org|2F|example|2F|Field\";
        fast_pattern:11,20; offset:3; depth:50; sid:52460156; reference:url,https://tria.ge/240315-tbwz8aee38/behavioral1;
        metadata: date 2024-03-15; metadata: author MGUT;)\n","file_name":"mal_metastealer_snort.txt"}]}],"next_offset":"eyJvZmZzZXQiOlsxMTcwNF19"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"filter": {"doc_id": "doc:u30RCK"}, "limit": 1}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count":1,"total_count":1,"result":[{"id":"doc:u30RCK","type":"sigma","title":"Sigma
        Rule: Subtle-Paws LNK Files","description":"The attached Sigma rule can be
        used to detect the PowerShell command line used by LNK files to run Subtle-Paws.","created":"2024-03-13T17:02:21.717Z","updated":"2024-03-13T17:02:21.715Z","rules":[{"entities":[{"id":"SvSvaT","type":"Organization","name":"Gamaredon
        Group","display_name":"Gamaredon Group (Aqua Blizzard, Armageddon Group)"},{"id":"uWRGjY","type":"Malware","name":"SUBTLE-PAWS"},{"id":"IFr1_l","type":"Technology","name":".lnk"},{"id":"DfALH","type":"Product","name":"PowerShell"}],"content":"title:
        SubtlePaws LNK Command Line\nid: 170ad745-e93f-4ddc-aefb-6113a3fcabe2\ndescription:
        Detects the PowerShell command line used by LNK files to run Subtle-Paws\nreferences:\n  -
        https://www.securonix.com/blog/security-advisory-steadyursa-attack-campaign-targets-ukraine-military/\nstatus:
        stable\nauthor: CNANCE, Insikt Group, Recorded Future\ndate: 2024/03/12\nlevel:
        medium\ntags:\n  - attack.t1204.002 # User Execution: Malicious File\n  -
        attack.t1059.001 # Command and Scripting Interpreter: PowerShell\nlogsource:\n  category:
        process_create\n  product: windows\ndetection:\n  selection:\n    CommandLine:
        \"*$(gc * |out-string)|powershell -noprofile -\"\n  condition: selection\nfalsepositives:\n  -
        Unlikely","file_name":"apt_ru_gamaredon_subtle-paws.yml"}]}],"next_offset":"eyJvZmZzZXQiOlsxMTc4MV19"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
