interactions:
- request:
    body: null
    headers:
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/analystnote/search?published=-1000h&limit=10&source=VKz42X
  response:
    body:
      string: "{\"data\":{\"results\":[{\"attributes\":{\"validated_on\":\"2024-03-16T04:00:00.000Z\",\"published\":\"2024-03-17T09:46:26.593Z\",\"text\":\"CVE-2024-2563
        is a critical vulnerability found in PandaXGO PandaX. This issue affects the
        function DeleteImage of the file /apps/system/router/upload.go. The manipulation
        of the argument fileName with the input .. /.. /.. /.. /.. /.. /.. /.. /../tmp/1.txt
        leads to path traversal. The attack may be initiated remotely. Furthermore,
        there is an exploit available.\\n\\nIt affects the product versions of PandaXGO
        PandaX 20240310 and prior. There is no information about possible countermeasures
        known. It may be suggested to replace the affected object with an alternative
        product.\",\"topic\":[{\"id\":\"UrMRnT\",\"name\":\"Informational\",\"type\":\"Topic\",\"description\":\"Brief
        description of CVE/new vulnerability/flaw.\"}],\"context_entities\":[{\"id\":\"u5h7wf\",\"name\":\"PandaXGo
        PandaX ver. 20240310\",\"type\":\"Product\"},{\"id\":\"u5h7we\",\"name\":\"PandaXGo
        PandaX\",\"type\":\"Product\"},{\"id\":\"JvKFfE\",\"name\":\"Directory Traversal\",\"type\":\"AttackVector\"}],\"validation_urls\":[{\"id\":\"url:https://vuldb.com/?id.257062\",\"name\":\"https://vuldb.com/?id.257062\",\"type\":\"URL\"}],\"title\":\"CVE-2024-2563
        allows Path Traversal affecting PandaXGO PandaX\",\"note_entities\":[{\"id\":\"u6Ebm5\",\"name\":\"CVE-2024-2563\",\"type\":\"CyberVulnerability\",\"description\":\"A
        vulnerability has been found in PandaXGO PandaX up to 20240310 and classified
        as critical. This vulnerability affects the function DeleteImage of the file
        /apps/system/router/upload.go. The manipulation of the argument fileName with
        the input ../../../../../../../../../tmp/1.txt leads to path traversal: '../filedir'.
        The attack can be initiated remotely. The exploit has been disclosed to the
        public and may be used. VDB-257062 is the identifier assigned to this vulnerability.\"}]},\"source\":{\"id\":\"source:VKz42X\",\"name\":\"Insikt
        Group\",\"type\":\"Source\"},\"id\":\"u64AWH\"},{\"attributes\":{\"validated_on\":\"2024-03-16T04:00:00.000Z\",\"published\":\"2024-03-18T03:58:12.289Z\",\"text\":\"CVE-2024-2565
        is a critical vulnerability found in PandaXGO PandaX. Affected by this vulnerability
        is an unknown functionality of the file /apps/system/router/upload.go of the
        component File Extension Handler. The manipulation of the argument file with
      [...]
