interactions:
- request:
    body: null
    headers:
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/analystnote/search?published=-10000h&limit=100&source=VKz42X
  response:
    body:
      string: "{\"data\":{\"results\":[{\"attributes\":{\"validated_on\":\"2024-03-14T04:00:00.000Z\",\"published\":\"2024-03-15T06:48:33.608Z\",\"text\":\"CVE-2024-28029
        enables a flaw that will allow users with limited privileges to bypass authorization
        and access privileged functionality. This is due to privileges not being fully
        verified server-side.\\n\\nIt affects the product version of Delta Electronics
        DIAEnergie prior to v1.10.00.005.\\n\\nIt is recommended to apply the product
        version of Delta Electronics DIAEnergie 1.10.00.005 or later.\",\"topic\":[{\"id\":\"UrMRnT\",\"name\":\"Informational\",\"type\":\"Topic\",\"description\":\"Brief
        description of CVE/new vulnerability/flaw.\"}],\"context_entities\":[{\"id\":\"u4y2av\",\"name\":\"Delta
        Electronics DIAEnergie 1.10.00.005\",\"type\":\"Product\"},{\"id\":\"PI-1ai\",\"name\":\"Improper
        Authorization\",\"type\":\"AttackVector\"},{\"id\":\"aLVdUI\",\"name\":\"DIAEnergie\",\"type\":\"Product\"}],\"validation_urls\":[{\"id\":\"url:https://www.cisa.gov/news-events/ics-advisories/icsa-24-074-12\",\"name\":\"https://www.cisa.gov/news-events/ics-advisories/icsa-24-074-12\",\"type\":\"URL\"}],\"title\":\"CVE-2024-28029
        allows Improper Authorization affecting Delta Electronics DIAEnergie\",\"note_entities\":[{\"id\":\"u4osKY\",\"name\":\"CVE-2024-28029\",\"type\":\"CyberVulnerability\"}]},\"source\":{\"id\":\"source:VKz42X\",\"name\":\"Insikt
        Group\",\"type\":\"Source\"},\"id\":\"u5Layg\"},{\"attributes\":{\"validated_on\":\"2024-03-14T04:00:00.000Z\",\"published\":\"2024-03-15T06:52:01.028Z\",\"text\":\"CVE-2024-25567
        enables a flaw wherein it is possible to perform a path traversal attack and
        write outside of the intended directory and may access sensitive information.
        If a file name is specified that already exists on the file system, then the
        orig[...]
