opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'IPsum'
  scope: 'ipsum'
  log_level: 'info'
  duration_period: 'PT1H' # Interval given for scheduler process in ISO-8601 format
  #============================================#
  # Optional connector's definition parameters #
  #============================================#
  #queue_threshold: 500
  #run_and_terminate: 'False'
  #send_to_queue: 'True'
  #send_to_directory: 'False'
  #send_to_directory_path: 'ChangeMe'
  #send_to_directory_retention: 7

connector_ipsum:
  api_base_url: 'https://raw.githubusercontent.com/stamparm/ipsum/refs/heads/master/levels/5.txt'
  api_key: ''
  default_x_opencti_score: 60
  tlp_level: 'white'