interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.polyswarm.network/v3/ioc/sha256/7c34cccd3f58c144f561493c511a1a96a227cba58d4e1a737c4cd1b3a8a407ff?hide_known_good=True&community=default
  response:
    body:
      string: '{"result":{"imphash":"49d57250c01123af7161754f5cf54349","ips":["179.43.142.201","74.178.76.44","23.38.111.119","199.232.210.172","135.233.95.144","52.185.211.133","72.147.149.16","40.119.249.228","52.191.219.104","52.123.251.28","199.232.214.172"],"ttps":["T1027.002","T1027","T1071"],"urls":[]},"status":"OK"}

        '
    headers:
      Content-Type:
      - application/json
      X-Billing-ID:
      - '174062536429'
    status:
      code: 200
      message: OK
version: 1
