interactions:
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/ioc/sha256/275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f?hide_known_good=True&community=default
  response:
    body:
      string: '{"result":{"imphash":"","ips":["74.178.76.44","23.38.111.119","151.101.162.172","52.140.118.28","72.147.149.16","146.75.106.172"],"ttps":["T1071","T1003"],"urls":[]},"status":"OK"}

        '
    headers:
      Content-Type:
      - application/json
      X-Billing-ID:
      - '174062536429'
    status:
      code: 200
      message: OK
version: 1
