interactions:
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/search/hash/sha256?hash=7c34cccd3f58c144f561493c511a1a96a227cba58d4e1a737c4cd1b3a8a407ff&community=default
  response:
    body:
      string: '{"has_more":false,"limit":50,"result":[{"artifact_id":"25252432979329620","assertions":[{"author":"24562635954883669","author_name":"Electron","bid":"2500000000000000","engine":{"description":"Multi-layered
        malware scanning using static analysis and ML-based heuristics to identify
        malicious files.","name":"Electron"},"mask":true,"metadata":{"domains":[],"heuristic":null,"ip_addresses":[],"malware_family":"","scanner":null,"stix":[]},"verdict":true},{"author":"21584326519540048","author_name":"XVirus","bid":"1500000000000000","engine":{"description":"Xvirus
        is a project that started in 2010. Our objective is to provide to consumers
        with simple but powerful products to keep their computers protected, clean
        and at top performance.","name":"XVirus"},"mask":true,"metadata":{"product":"xvirus","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"vendor_version":"3.0.2.0"}},"verdict":false},{"author":"18903854210768464","author_name":"SecondWrite","bid":"2500000000000000","engine":{"description":"SecondWrite\u2019s
        engine provides in-depth malware analysis; for both files and websites. It
        leverages its patented advanced program analysis and machine learning feature
        sets to .identify evasive and zero-day malware before other tools in the industry.","name":"SecondWrite"},"mask":true,"metadata":{"malware_family":"","product":"secondwrite","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"version":"0.0.1"}},"verdict":true},{"author":"82454256513644328","author_name":"SecureAge","bid":"2500000000000000","engine":{"description":"The
        SecureAge APEX Engine harnesses the power of artificial intelligence (AI)
        to take on the threats of today and tomorrow. Leveraging on the power of big
        data, the APEX engine goes beyond traditional scanners by effectively and
        reliably spotting malicious patterns to allow for quick decisions based on
        prior experience. It can adaptively update its knowledge against newer and
        unseen malware variants that may attempt to infect endpoints during an outbreak.
        This approach makes it incredibly faster at detecting zero-day threats while
        having minimal footprint regarding performance and disk space when compared
        to traditional anti-malware engines.","name":"SecureAge"},"mask":true,"metadata":{"malware_family":"Malicious","product":"secureage","scanner":{"definition_version":"6.223","engine_version":"5.5.1","environment":{"architecture":"x86_64","operating_system":"Linux"}}},"verdict":true},{"author":"55328652711226799","author_name":"Alibaba","bid":"500000000000000","engine":{"description":"Engine
        based on cloud computing, big data technologies and a database with massive
        collection of confirmed malware and safe files. Multiple subsystems included,
        such as preprocessing, static analysis, dynamic analysis, and counterfeit
        software detection.","name":"Alibaba"},"mask":true,"metadata":{"comments":["REPORT_TYPE=pe"],"product":"Alibaba","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_version":"20180921112649","vendor_version":"0.2.0.3"}},"verdict":false},{"author":"48487887999524630","author_name":"Lionic","bid":"2500000000000000","engine":{"description":"AegisLab\u2019s
        intelligent virus DNA algorithm extracts the special one-to-many mapping virus
        signatures. It achieved the much higher detection rate for latest Windows
        PE and Android APK variant virus while maintained the minimum memory footprint.
        Their scan engine also uses the DNA fast match algori[...]
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/tags/link?hash=7c34cccd3f58c144f561493c511a1a96a227cba58d4e1a737c4cd1b3a8a407ff
  response:
    body:
      string: '{"errors":null,"result":"View Artifact Tags (tag=tags_view) is not
        available for this account. Contact PolySwarm for access.","status":"error"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: UNAUTHORIZED
version: 1
