interactions:
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/search/hash/sha256?hash=cde049c032be6f7971c317a2102f88949e714d371c139f6015e1ce10cff90f18&community=default
  response:
    body:
      string: '{"has_more":false,"limit":50,"result":[{"artifact_id":"21083901150677023","assertions":[{"author":"78657492523057803","author_name":"Proton","bid":"2500000000000000","engine":{"description":"Multi-layered
        malware scanning using static analysis and ML-based heuristics to identify
        malicious files.","name":"Proton"},"mask":true,"metadata":{"domains":[],"heuristic":null,"ip_addresses":[],"malware_family":"","scanner":null,"stix":[]},"verdict":true},{"author":"24562635954883669","author_name":"Electron","bid":"2500000000000000","engine":{"description":"Multi-layered
        malware scanning using static analysis and ML-based heuristics to identify
        malicious files.","name":"Electron"},"mask":true,"metadata":{"domains":[],"heuristic":null,"ip_addresses":[],"malware_family":"","scanner":null,"stix":[]},"verdict":true},{"author":"21584326519540048","author_name":"XVirus","bid":"1500000000000000","engine":{"description":"Xvirus
        is a project that started in 2010. Our objective is to provide to consumers
        with simple but powerful products to keep their computers protected, clean
        and at top performance.","name":"XVirus"},"mask":true,"metadata":{"product":"xvirus","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"vendor_version":"3.0.2.0"}},"verdict":false},{"author":"45003009427661603","author_name":"Qihoo
        360","bid":"2500000000000000","engine":{"description":"Qihoo 360 is the largest
        provider of antivirus, Internet and mobile security products in China. QVM
        (Qihoo Support Vector Machine) is used as a basis for a detection algorithm
        which is automatically enhanced and updated with new malware samples submitted
        by users to servers. Program files that do not appear on our blacklist and
        whitelist are scanned using QVM, and any \u201chits\u201d presumed to be malicious
        would be removed or quarantined.","name":"Qihoo 360"},"mask":true,"metadata":{"malware_family":"Win32/Backdoor.Dtrack.HgIAT9sA","product":"Qihoo","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_version":"2022-10-09
        10:05"}},"verdict":true},{"author":"33148585565356292","author_name":"Jiangmin","bid":"2500000000000000","engine":{"description":"Specializes
        in malicious files and business documents scanning","name":"Jiangmin"},"mask":true,"metadata":{"malware_family":"Backdoor.DTrack.d","product":"jiangmin","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_version":"16.0.100","vendor_vendor":"1.0.0.0","version":"0.0.1"}},"verdict":true},{"author":"82454256513644328","author_name":"SecureAge","bid":"2300000000000000","engine":{"description":"The
        SecureAge APEX Engine harnesses the power of artificial intelligence (AI)
        to take on the threats of today and tomorrow. Leveraging on the power of big
        data, the APEX engine goes beyond traditional scanners by effectively and
        reliably spotting malicious patterns to allow for quick decisions based on
        prior experience. It can adaptively update its knowledge against newer and
        unseen malware variants that may attempt to infect endpoints during an outbreak.
        This approach makes it incredibly faster at detecting zero-day threats while
        having minimal footprint regarding performance and disk space when compared
        to traditional anti-malware engines.","name":"SecureAge"},"mask":true,"metadata":{"malware_family":"Malicious","product":"secureage","scanner":{"definition_version":"6.223","engine_version":"5.5.1","environment":{"architecture":"x86_64","operating_system":"Linux"}}},"verdict":true},{"author":"48487887999524630","author_name":"Lionic","bid":"2500000000000000","engine":{"description":"AegisLab\u2019s
        intelligent virus DNA algorithm extracts the special one-to-many mapping virus
        signatures. It achieved the much higher detection rate for latest Windows
        PE and Android APK variant virus while maintained the minimum memory footprint.
        Their scan engine also uses the DNA fast match algorithm and is very suitable
        for limited resources environment. In native streaming mode, the engine is
        able to catch the most viruses very efficiently from network packets.","name":"Lionic"},"mask":true,"metadata":{"malware_family":"Trojan.Win32.DTrack.m!c","product":"Lionic","scanner":{"engine_version":"8.26","environment":{"architecture":"x86_64","operating_system":"Linux"}}},"verdict":true},{"author":"32946093848101608","author_name":"Filseclab","bid":"2500000000000000","engine":{"description":"","name":"Filseclab"},"mask":true,"metadata":{"product":"filseclab","scanner":{"engine_version":"1.0.2.2132","environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_timestamp":"Thursday,
        September 11, 2025 10:47:33 PM","signatures_version":"40.131.4421"}},"verdict":false},{"author":"44916051751992551","author_name":"NanoAV","bid":"2500000000000000","engine":{"description":"Russian
        advanced cyber security threat protection with high speed comprehensive threat
        scanning that provides protection from all types of malware and includes real-time
        file and network protection and remediation.","name":"NanoAV"},"mask":true,"metadata":{"product":"NANO
        Antivirus","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_version":"0.14.63.52517","vendor_version":"1.0.170.92431"}},"verdict":false},{"author":"84695705209944120","author_name":"Crowdstrike
        Falcon ML","bid":"2500000000000000","engine":{"description":"CrowdStrike Falcon
        ML protects customers against all cyber attacks, using sophisticated signatureless
        artificial intelligence/machine learning and Indicator of Attack (IOA) based
        threat prevention to stop known and unknown threats in real-time.","name":"Crowdstrike
        Falcon ML"},"mask":true,"metadata":{"malware_family":"win/malicious","product":"crowdstrike-falcon","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"vendor_version":"2","version":"0.0.1"},"vendor_api_version":"2","vendor_endpoint":"https://hybrid-analysis.com/api/v2/quick-scan"},"verdict":true},{"author":"72563027764114662","author_name":"SentinelOne
        Static ML","bid":"2500000000000000","engine":{"description":"SentinelOne (Static
        ML) is a machine learning engine designed to identify unknown malware. It
        is part of a unique offering of a multi-layer detection and prevention agent
        that is capable of keeping organizations ahead of any advanced threat in real-time.","name":"SentinelOne
        Static ML"},"mask":true,"metadata":{"indicators":["debugger","raise_exception"],"malware_family":"","product":"sentinelone","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"version":"0.0.1"}},"verdict":false},{"author":"71222207979378669","author_name":"ClamAV","bid":"2500000000000000","engine":{"description":"ClamAV
        is an open source, signature-based, anti-virus engine capable of scanning
        a wide variety of common file types.","name":"ClamAV"},"mask":true,"metadata":{"malware_family":"Win.Dropper.D[...]
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/tags/link?hash=cde049c032be6f7971c317a2102f88949e714d371c139f6015e1ce10cff90f18
  response:
    body:
      string: '{"errors":null,"result":"View Artifact Tags (tag=tags_view) is not
        available for this account. Contact PolySwarm for access.","status":"error"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: UNAUTHORIZED
version: 1
