interactions:
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/search/hash/sha256?hash=275a021bbfb6489e54d471899f7db9d1663fc695ec2fe2a2c4538aabf651fd0f&community=default
  response:
    body:
      string: '{"has_more":false,"limit":50,"result":[{"artifact_id":"86379013066714223","assertions":[{"author":"82454256513644328","author_name":"SecureAge","bid":"2500000000000000","engine":{"description":"The
        SecureAge APEX Engine harnesses the power of artificial intelligence (AI)
        to take on the threats of today and tomorrow. Leveraging on the power of big
        data, the APEX engine goes beyond traditional scanners by effectively and
        reliably spotting malicious patterns to allow for quick decisions based on
        prior experience. It can adaptively update its knowledge against newer and
        unseen malware variants that may attempt to infect endpoints during an outbreak.
        This approach makes it incredibly faster at detecting zero-day threats while
        having minimal footprint regarding performance and disk space when compared
        to traditional anti-malware engines.","name":"SecureAge"},"mask":true,"metadata":{"malware_family":"EICAR
        Anti-Virus Test File","product":"secureage","scanner":{"definition_version":"6.223","engine_version":"5.5.1","environment":{"architecture":"x86_64","operating_system":"Linux"}}},"verdict":true},{"author":"18903854210768464","author_name":"SecondWrite","bid":"2500000000000000","engine":{"description":"SecondWrite\u2019s
        engine provides in-depth malware analysis; for both files and websites. It
        leverages its patented advanced program analysis and machine learning feature
        sets to .identify evasive and zero-day malware before other tools in the industry.","name":"SecondWrite"},"mask":true,"metadata":{"malware_family":"","product":"secondwrite","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"version":"0.0.1"}},"verdict":true},{"author":"14106784725859115","author_name":"DrWeb","bid":"2500000000000000","engine":{"description":"A
        anti-virus offering preventive protection against the latest active threats,
        targeted attacks, and infiltration attempts that take advantage of vulnerabilities","name":"DrWeb"},"mask":true,"metadata":{"malware_family":"EICAR
        Test File (NOT a Virus!)","product":"drweb","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_version":"FD5B76D19D8A7DB0E42BA662F5874F41,
        2026-Feb-20 03:38:56","vendor_version":"7.00.75.02070","version":"0.0.1"}},"verdict":true},{"author":"21584326519540048","author_name":"XVirus","bid":"1500000000000000","engine":{"description":"Xvirus
        is a project that started in 2010. Our objective is to provide to consumers
        with simple but powerful products to keep their computers protected, clean
        and at top performance.","name":"XVirus"},"mask":true,"metadata":{"product":"xvirus","scanner":{"environment":{"architecture":"x86_64","operating_system":"Linux"},"vendor_version":"3.0.2.0"}},"verdict":true},{"author":"32946093848101608","author_name":"Filseclab","bid":"2500000000000000","engine":{"description":"","name":"Filseclab"},"mask":true,"metadata":{"malware_family":"EICAR.Test.File.zewa","product":"filseclab","scanner":{"engine_version":"1.0.2.2132","environment":{"architecture":"x86_64","operating_system":"Linux"},"signatures_timestamp":"Thursday,
        September 11, 2025 10:47:33 PM","signatures_version":"40.131.4421"}},"verdict":true},{"author":"45003009427661603","author_name":"Qihoo
        360","bid":"2500000000000000","engine":{"description":"Qihoo 360 is the largest
        provider of antivirus, Internet and mobile security products in China. QVM
        (Qihoo Support Vector Machine) is used as a basis for a detection algorithm
        which is automatically enhanced and updated with new malware samples submitted
   [...]
