interactions:
- request:
    body: null
    headers:
      Authorization:
      - SCRUBBED
    method: GET
    uri: https://api.polyswarm.network/v3/search/hash/sha256?hash=83a37ac38e86dfcccbf405650ef0ef655e2a4671bf5d8b3c405af18fb37bcb89&community=default
  response:
    body:
      string: '{"has_more": false, "limit": 50, "result": [{"artifact_id": "59246758389179284", "assertions": [{"author": "45003009427661603", "author_name": "Qihoo 360", "bid": "2500000000000000", "engine": {"description": "", "name": "Qihoo 360"}, "mask": true, "metadata": {"malware_family": "Win32/Backdoor.Rifdoor.HwoCoCYA", "product": "Qihoo", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}, "signatures_version": "2022-10-09 10:05"}}, "verdict": true}, {"author": "24562635954883669", "author_name": "Electron", "bid": "2500000000000000", "engine": {"description": "", "name": "Electron"}, "mask": true, "metadata": {"domains": [], "heuristic": null, "ip_addresses": [], "malware_family": "Win.Malware.Scar", "scanner": null, "stix": []}, "verdict": true}, {"author": "78657492523057803", "author_name": "Proton", "bid": "2500000000000000", "engine": {"description": "", "name": "Proton"}, "mask": true, "metadata": {"domains": [], "heuristic": null, "ip_addresses": [], "malware_family": "Win.Malware.Scar", "scanner": null, "stix": []}, "verdict": true}, {"author": "33148585565356292", "author_name": "Jiangmin", "bid": "2500000000000000", "engine": {"description": "", "name": "Jiangmin"}, "mask": true, "metadata": {"product": "jiangmin", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}, "signatures_version": "16.0.100", "vendor_vendor": "1.0.0.0", "version": "0.0.1"}}, "verdict": false}, {"author": "18903854210768464", "author_name": "SecondWrite", "bid": "2500000000000000", "engine": {"description": "", "name": "SecondWrite"}, "mask": true, "metadata": {"malware_family": "", "product": "secondwrite", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}, "version": "0.0.1"}}, "verdict": true}, {"author": "21584326519540048", "author_name": "XVirus", "bid": "1500000000000000", "engine": {"description": "", "name": "XVirus"}, "mask": true, "metadata": {"product": "xvirus", "scanner":
        {"environment": {"architecture": "x86_64", "operating_system": "Linux"}, "vendor_version": "3.0.2.0"}}, "verdict": false}, {"author": "32946093848101608", "author_name": "Filseclab", "bid": "2500000000000000", "engine": {"description": "", "name": "Filseclab"}, "mask": true, "metadata": {"product": "filseclab", "scanner": {"engine_version": "1.0.2.2132", "environment": {"architecture": "x86_64", "operating_system": "Linux"}, "signatures_timestamp": "Thursday, September 11, 2025 10:47:33 PM", "signatures_version": "40.131.4421"}}, "verdict": false}, {"author": "82454256513644328", "author_name": "SecureAge", "bid": "2500000000000000", "engine": {"description": "", "name": "SecureAge"}, "mask": true, "metadata": {"malware_family": "Malicious", "product": "secureage", "scanner": {"definition_version": "6.223", "engine_version": "5.5.1", "environment": {"architecture": "x86_64", "operating_system": "Linux"}}}, "verdict": true}, {"author": "48487887999524630", "author_name": "Lionic", "bid": "2500000000000000", "engine": {"description": "", "name": "Lionic"}, "mask": true, "metadata": {"malware_family": "Trojan.Win32.Scar.tnvd", "product": "Lionic", "scanner": {"engine_version": "8.26", "environment": {"architecture": "x86_64", "operating_system": "Linux"}}}, "verdict": true}, {"author": "14106784725859115", "author_name": "DrWeb", "bid": "2500000000000000", "engine": {"description": "", "name": "DrWeb"}, "mask": true, "metadata": {"malware_family": "Trojan.Siggen32.9575", "product": "drweb", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}, "signatures_version": "", "vendor_version": "", "version": "0.0.1"}}, "verdict": true}, {"author": "55328652711226799", "author_name": "Alibaba", "bid": "500000000000000", "engine": {"description": "", "name": "Alibaba"}, "mask": true, "metadata": {"comments": ["REPORT_TYPE=pe"], "product": "Alibaba", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}, "signatures_version":
        "20180921112649", "vendor_version": "0.2.0.3"}}, "verdict": false}, {"author": "44916051751992551", "author_name": "NanoAV", "bid": "2500000000000000", "engine": {"description": "", "name": "NanoAV"}, "mask": true, "metadata": {"comments": ["ALT_RESULT_NAME=Riskware.Win32.Keydoor.lepgvq"], "malware_family": "Riskware.Win32.Keydoor.lepgtc", "product": "NANO Antivirus", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}, "signatures_version": "0.14.67.53061", "vendor_version": "1.0.170.92431"}}, "verdict": true}, {"author": "72563027764114662", "author_name": "SentinelOne Static ML", "bid": "2500000000000000", "engine": {"description": "", "name": "SentinelOne Static ML"}, "mask": true, "metadata": {"indicators": ["debugger", "raise_exception", "xor_API"], "malware_family": "", "product": "sentinelone", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}, "version": "0.0.1"}}, "verdict": true}, {"author": "71222207979378669", "author_name": "ClamAV", "bid": "2500000000000000", "engine": {"description": "", "name": "ClamAV"}, "mask": true, "metadata": {"malware_family": "Win.Malware.Scar-9776391-0", "product": "clamav", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}, "vendor_version": "ClamAV 1.5.1/27920/Sun Feb 22 07:24:37 2026", "version": "0.0.2"}}, "verdict": true}, {"author": "84695705209944120", "author_name": "Crowdstrike Falcon ML", "bid": "2500000000000000", "engine": {"description": "", "name": "Crowdstrike Falcon ML"}, "mask": true, "metadata": {"malware_family": "win/malicious", "product": "crowdstrike-falcon", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}, "vendor_version": "2", "version": "0.0.1"}, "vendor_api_version": "2", "vendor_endpoint": "https://hybrid-analysis.com/api/v2/quick-scan"}, "verdict": true}, {"author": "61602204071113521", "author_name": "RedDrip APT Scanner - RAS", "bid": "500000000000000", "engine":
        {"description": "", "name": "RedDrip APT Scanner - RAS"}, "mask": true, "metadata": {"product": "reddrip", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}}}, "verdict": false}, {"author": "71533258252366147", "author_name": "Ikarus", "bid": "2500000000000000", "engine": {"description": "", "name": "Ikarus"}, "mask": true, "metadata": {"malware_family": "Trojan-Spy.Win32.Keydoor", "product": "ikarus", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}, "version": "0.0.1"}, "signatures_version": "build 109020, 2026-02-25 19:26:53", "vendor_version": "6.4.12"}, "verdict": true}, {"author": "52651304516102272", "author_name": "Cyberstanc_scrutiny", "bid": "0", "engine": {"description": "", "name": "Cyberstanc_scrutiny"}, "mask": true, "metadata": {"product": "Cyberstanc_scrutiny", "scanner": {"environment": {"architecture": "x86_64", "operating_system": "Linux"}}}, "verdict": null}], "bounty_state": 3, "community": "mainnet1", "country": "US", "created": "2026-02-26T06:14:35.572650+00:00", "detections": {"benign": 5, "malicious": 12, "total": 17}, "expiration_window": null, "expire_at": null, "extended_type": "PE32 executable (GUI) Intel 80386, for MS Windows, 5 sections", "failed": false, "filename": "83a37ac38e86dfcccbf405650ef0ef655e2a4671bf5d8b3c405af18fb37bcb89", "first_seen": "2026-02-26T06:14:35.572650+00:00", "id": "59246758389179284", "last_scanned": "2026-02-26T06:14:35.572650+00:00", "last_seen": "2026-02-26T06:14:35.572650+00:00", "md5": "88d979397239ea7a3e20e7ce70ad53b3", "metadata": [{"created": "2026-02-26T07:30:37.991557+00:00", "tool": "cape_sandbox_v2", "tool_metadata": {"signatures": [{"alert": false, "categories": ["system_discovery"], "confidence": 100, "data": [{"cid": 80, "pid": 5268, "type": "call"}, {"cid": 84, "pid": 4544, "type": "call"}, {"cid": 2437, "pid": 4292, "type": "call"}, {"cid": 2452, "pid": 4292, "type": "call"}, {"cid": 2514, "pid": 4292, "type": "call"}, {"cid":
        2517, "pid": 4292, "type": "call"}, {"cid": 2571, "pid": 4292, "type": "call"}, {"cid": 2574, "pid": 4292, "type": "call"}, {"cid": 2582, "pid": 4292, "type": "call"}, {"cid": 2585, "pid": 4292, "type": "call"}, {"cid": 2589, "pid": 4292, "type": "call"}, {"cid": 2592, "pid": 4292, "type": "call"}, {"cid": 2769, "pid": 4292, "type": "call"}, {"cid": 2776, "pid": 4292, "type": "call"}], "description": "Queries computer hostname", "families": [], "name": "queries_computer_name", "severity": 1, "weight": 0}, {"alert": false, "categories": ["location_discovery"], "confidence": 20, "data": [{"cid": 682, "pid": 5368, "type": "call"}], "description": "Queries the keyboard layout", "families": [], "name": "queries_keyboard_layout", "severity": 1, "weight": 1}, {"alert": false, "categories": ["location_discovery", "geofence"], "confidence": 100, "data": [{"cid": 73, "pid": 1632, "type": "call"}, {"cid": 884, "pid": 2336, "type": "call"}, {"cid": 879, "pid": 4292, "type": "call"}, {"cid": 2575, "pid":[...]
