opencti:
  url: 'http://localhost:8080'
  token: ChangeMe(UUIDv4 token)

connector:
  id: ChangeMe(UUIDv4 token)
  type: 'EXTERNAL_IMPORT'
  name: 'Phishunt'
  scope: 'phishunt'
  log_level: 'info'
  duration_period: "P3D" # Interval given for scheduler process in ISO-8601 format


phishunt:
  api_key: '' # Optional, if not provided, consume only https://phishunt.io/feed.txt
  create_indicators: True
  default_x_opencti_score: 40 # Optional: Defaults to 40
  x_opencti_score_domain: 40  # Optional: Default default_x_opencti_score
  x_opencti_score_ip: 40      # Optional: Default default_x_opencti_score
  x_opencti_score_url: 40     # Optional: Default default_x_opencti_score
