opencti:
  url: 'http://localhost:4242'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  name: 'Recorded Future Enrichment'
  scope: 'ipv4-addr,ipv6-addr,domain-name,url,stixfile,vulnerability'
  log_level: 'error'

recorded_future:
  token: 'ChangeMe'
  create_indicator_threshold: 0
  info_max_tlp: 'TLP:AMBER'
  vulnerability_enrichment_optional_fields: 'analystNotes,aiInsights,risk'
