opencti:
  url: 'http://localhost:4000'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Recorded Future Enrichment'
  scope: 'ipv4-addr,ipv6-addr,domain-name,url,stixfile'
  confidence_level: 5
  update_existing_data: true
  log_level: 'info'

recordedfuture-enrichment:
  token: 'ChangeMe' #required
  create_indicator_threshold: 0
  max_tlp: 'TLP:AMBER'
