opencti:
  url: 'http://opencti:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe' # Valid UUIDv4
  name: 'RST Report Hub'
  scope: 'application/json' # MIME type or SCO
  run_and_terminate: true
  log_level: 'info'

rst-report-hub:
  base_url: 'https://api.rstcloud.net/v1'
  api_key: 'ChangeMe'
  connection_timeout: 30
  read_timeout: 30
  retry_delay: 30
  retry_attempts: 5
  import_start_date: '20240101'
  fetch_interval: 300
  language: 'eng'
  create_observables: false
  create_related_to: true
  create_custom_ttps: true