opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Hygiene'
  scope: 'IPv4-Addr,IPv6-Addr,Domain-Name,StixFile'
  auto: true
  confidence_level: 15 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'
