CONNECTOR_DOCKER_CONTAINER_NAME=gib-accounts-combolist
# Generate one with uuidgen (https://www.uuidgenerator.net/version4)
CONNECTOR_ID=
CONNECTOR_NAME=Group-IB Connector Compromised Accounts (Combolist)

TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__DEFAULT_DATE=
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__ENABLE=false
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__TTL=1460
# Compromised account group: connector behaviour
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__INCLUDE_PASSWORDS=false
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__INCLUDE_MALWARE_LABELS=true
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__INCLUDE_MALWARE_THREAT_ACTOR_LABELS=true
# If true, add labels from API field "source_type" (e.g. leak type) to observables/entities as bare values
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__INCLUDE_SOURCE_TYPE_LABELS=true
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__DESCRIPTION_IN_EXTERNAL_REFERENCES=false
# Compromised account group: API request params
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__UNIQUE=0
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__COMBOLIST=1
TI_API__COLLECTIONS__COMPROMISED_ACCOUNT_GROUP__PROBABLE_CORPORATE_ACCESS=0
