CONNECTOR_DOCKER_CONTAINER_NAME=gib-apt-reports
# Generate one with uuidgen (https://www.uuidgenerator.net/version4)
CONNECTOR_ID=
CONNECTOR_NAME=Group-IB Connector Nation-State APT Intelligence

TI_API__COLLECTIONS__APT_THREAT__DEFAULT_DATE=
TI_API__COLLECTIONS__APT_THREAT__ENABLE=false
TI_API__COLLECTIONS__APT_THREAT__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__APT_THREAT__TTL=1460
TI_API__COLLECTIONS__APT_THREAT__USE_HUNTING_RULES=false
TI_API__COLLECTIONS__APT_THREAT__STORE_REPORT_LABELS_IN_NOTE=false
TI_API__COLLECTIONS__APT_THREAT__ADD_THREAT_ACTOR_LABEL_TO_OBSERVABLES=true
TI_API__COLLECTIONS__APT_THREAT__INCLUDE_THREAT_ACTOR_LABELS=true
TI_API__COLLECTIONS__APT_THREAT__INCLUDE_NATION_STATE_LABEL=true
TI_API__COLLECTIONS__APT_THREAT__INCLUDE_CONTEXT_LABEL=true
TI_API__COLLECTIONS__APT_THREAT__DESCRIPTION_IN_EXTERNAL_REFERENCES=false

TI_API__COLLECTIONS__APT_THREAT_ACTOR__DEFAULT_DATE=
TI_API__COLLECTIONS__APT_THREAT_ACTOR__ENABLE=false
TI_API__COLLECTIONS__APT_THREAT_ACTOR__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__APT_THREAT_ACTOR__TTL=1460
TI_API__COLLECTIONS__APT_THREAT_ACTOR__USE_HUNTING_RULES=false
TI_API__COLLECTIONS__APT_THREAT_ACTOR__INCLUDE_NATION_STATE_LABEL=true
TI_API__COLLECTIONS__APT_THREAT_ACTOR__DESCRIPTION_IN_EXTERNAL_REFERENCES=false
