CONNECTOR_DOCKER_CONTAINER_NAME=gib-attacks
# Generate one with uuidgen (https://www.uuidgenerator.net/version4)
CONNECTOR_ID=
CONNECTOR_NAME=Group-IB Connector Attack Telemetry

TI_API__COLLECTIONS__ATTACKS_DDOS__DEFAULT_DATE=
TI_API__COLLECTIONS__ATTACKS_DDOS__ENABLE=false
TI_API__COLLECTIONS__ATTACKS_DDOS__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__ATTACKS_DDOS__TTL=10
TI_API__COLLECTIONS__ATTACKS_DDOS__USE_HUNTING_RULES=false

TI_API__COLLECTIONS__ATTACKS_DEFACE__DEFAULT_DATE=
TI_API__COLLECTIONS__ATTACKS_DEFACE__ENABLE=false
TI_API__COLLECTIONS__ATTACKS_DEFACE__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__ATTACKS_DEFACE__TTL=10

TI_API__COLLECTIONS__ATTACKS_PHISHING_GROUP__DEFAULT_DATE=
TI_API__COLLECTIONS__ATTACKS_PHISHING_GROUP__ENABLE=false
TI_API__COLLECTIONS__ATTACKS_PHISHING_GROUP__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__ATTACKS_PHISHING_GROUP__TTL=5
TI_API__COLLECTIONS__ATTACKS_PHISHING_GROUP__USE_HUNTING_RULES=false

TI_API__COLLECTIONS__ATTACKS_PHISHING_KIT__DEFAULT_DATE=
TI_API__COLLECTIONS__ATTACKS_PHISHING_KIT__ENABLE=false
TI_API__COLLECTIONS__ATTACKS_PHISHING_KIT__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__ATTACKS_PHISHING_KIT__TTL=30
TI_API__COLLECTIONS__ATTACKS_PHISHING_KIT__USE_HUNTING_RULES=false