CONNECTOR_DOCKER_CONTAINER_NAME=gib-vulnerabilities
# Generate one with uuidgen (https://www.uuidgenerator.net/version4)
CONNECTOR_ID=
CONNECTOR_NAME=Group-IB Connector OSI Vulnerabilities

TI_API__COLLECTIONS__OSI_VULNERABILITY__DEFAULT_DATE=
TI_API__COLLECTIONS__OSI_VULNERABILITY__ENABLE=false
TI_API__COLLECTIONS__OSI_VULNERABILITY__LOCAL_CUSTOM_TAG=null
TI_API__COLLECTIONS__OSI_VULNERABILITY__TTL=90
TI_API__COLLECTIONS__OSI_VULNERABILITY__USE_HUNTING_RULES=false