opencti:
  url: "http://opencti:8080"
  token: 'ChangeMe'
connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'NTI'
  scope: nti
  log_level: 'error'
  duration_period: 'P1D' # Interval given for scheduler process in ISO-8601 format

nti:
  base_url: 'https://nti.nsfocusglobal.com/api/v2/'
  api_key: 'ChangeMe'
  tlp: 'white' # available values are(low -> high): clear, white, green, amber, amber+strict, red - Default: 'clear'
  create_ioc: true
  create_ip: true
  create_domain: true
  create_file: true
  create_url: true
  package_type: 'updated'