OPENCTI_URL=http://opencti:8080
# Use one as provided by the platform
OPENCTI_TOKEN=
# Generate one with uuidgen
CONNECTOR_ID=
# One of the following: debug, info, warning, error
CONNECTOR_LOG_LEVEL=info
CONNECTOR_RUN_EVERY=60s
CONNECTOR_SCOPE=stix2
# Connector specifc parameters. 
CONNECTOR_NAME=crtsh
# Domain to search for e.g., google.com
CRTSH_DOMAIN=
# Comma separated list of labels e.g., crtsh,osint
CRTSH_LABELS=crtsh
# TLP Marking Refs e.g., TLP:WHITE, TLP:GREEN, TLP:AMBER, TLP:RED
CRTSH_MARKING_REFS=TLP:WHITE
# Filters epired certificates. One of the following: true, false
CRTSH_IS_EXPIRED=false
# Applies a wildcard expression for the Domain. One of the following: true, false
CRTSH_IS_WILDCARD=false
