opencti:
  url: 'ChangeMe'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'UnpacMe'
  scope: 'Artifact'
  auto: false # Enable/disable auto-enrichment of observables
  confidence_level: 50 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

unpac_me:
  api_key: 'ChangeMe' # See https://www.unpac.me/account
  private: false # Mark samples are private (only available to PRO users)
  user_agent: 'UnpacMe OpenCTI Connector v5.2.2' # User agent for UnpacMeApi instantiation
  less_noise: false # Only upload unpacked samples if they matched a malware family
  family_color: '#0059f7' # Label color for family
  tag_color: '#54483b' # Label color for all other labels
  max_tlp: 'TLP:AMBER'
