opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Mandiant Cyber Threat Intelligence'
  scope: 'mandiant'
  log_level: 'info'
  duration_period: 'PT5M' # ISO8601 Format starting with "P" for Period ex: "PT5M" = Period time of 5 minutes

mandiant:
  api_v4_key_id: 'ChangeMe'
  api_v4_key_secret: 'ChangeMe'
  marking_definition: 'amber+strict'
