opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Mandiant Cyber Threat Intelligence'
  scope: 'mandiant'
  confidence_level: 50 # From 0 (Unknown) to 100 (Fully trusted)
  update_existing_data: false
  log_level: 'info'

mandiant:
  api_v4_key_id: 'ChangeMe'
  api_v4_key_secret: 'ChangeMe'
