# OpenCTI configuration
OPENCTI_URL=http://localhost:PORT
OPENCTI_TOKEN=ChangeMe

# Common connector configuration
CONNECTOR_ID=ChangeMe
CONNECTOR_TYPE=EXTERNAL_IMPORT
CONNECTOR_NAME=ChangeMe
CONNECTOR_SCOPE=ChangeMe
CONNECTOR_LOG_LEVEL=info
CONNECTOR_DURATION_PERIOD=PT5M
#============================================#
# Optional connector's definition parameters #
#============================================#
# QUEUE_THRESHOLD=500
# RUN_AND_TERMINATE=False
# SEND_TO_QUEUE=True
# SEND_TO_DIRECTORY=False
# SEND_TO_DIRECTORY_PATH=ChangeMe
# SEND_TO_DIRECTORY_RETENTION=7

CONNECTORTEMPLATE_API_BASE_URL=ChangeMe
CONNECTORTEMPLATE_API_KEY=ChangeMe
