opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  # name: 'TAXII2' # Default TAXII2
  # scope: 'ipv4-addr,ipv6-addr,vulnerability,domain,url,file-sha256,file-md5,file-sha1'
  # log_level: 'error' # Default error
  # duration_period: 'PT60M' # Default PT60M

taxii2:
  discovery_url: 'ChangeMe' # Required. The TAXII 2 server discovery URL

  # Authentication (basic auth by default)
  # username: 'ChangeMe'
  # password: 'ChangeMe'
  # use_token: false # Default false
  # token: 'ChangeMe'
  # use_apikey: false # Default false
  # apikey_key: 'ChangeMe'
  # apikey_value: 'ChangeMe'
  # use_cert: false # Default false
  # cert_path: ''
  # verify_ssl: true # Default true

  # Polling
  # v21: true # Default true, set to false for a TAXII 2.0 server
  # collections: '*.*' # Default *.*
  # initial_history: 24 # Default 24 (hours)
  # interval: 1 # Default 1 (hour), only used when connector.duration_period is not set
  # enable_url_query_limit: false # Default false
  # url_query_limit: 100 # Default 100

  # Object creation
  # create_indicators: true # Default true
  # create_observables: true # Default true
  # force_pattern_as_name: false # Default false
  # force_multiple_pattern_name: 'Multiple Indicators'
  # set_indicator_as_detection: false # Default false
  # save_original_indicator_id_to_note: false # Default false
  # save_original_indicator_id_abstract: 'ChangeMe'
  # change_report_status: false # Default false
  # change_report_status_x_opencti_workflow_id: 'ChangeMe'

  # Labels
  # add_custom_label: false # Default false
  # custom_label: 'ChangeMe'
  # stix_custom_property_to_label: false # Default false
  # stix_custom_property: 'ChangeMe'
  # exclude_specific_labels: false # Default false
  # labels_to_exclude: 'ChangeMe'
  # replace_characters_in_label: false # Default false
  # characters_to_replace_in_label: 'ChangeMe'

  # Scoring
  # determine_x_opencti_score_by_label: false # Default false
  # default_x_opencti_score: 50 # Default 50
  # indicator_high_score_labels: 'high'
  # indicator_high_score: 80 # Default 80
  # indicator_medium_score_labels: 'medium'
  # indicator_medium_score: 60 # Default 60
  # indicator_low_score_labels: 'low'
  # indicator_low_score: 40 # Default 40

  # Author
  # create_author: false # Default false
  # author_name: 'ChangeMe'
  # author_description: 'ChangeMe'
  # author_reliability: 'A - Completely reliable'

  # Filtering
  # ignore_pattern_types: false # Default false
  # pattern_types_to_ignore: 'ChangeMe'
  # ignore_object_types: false # Default false
  # object_types_to_ignore: 'ChangeMe'
  # ignore_specific_patterns: false # Default false
  # patterns_to_ignore: 'ChangeMe'
  # ignore_specific_notes: false # Default false
  # notes_to_ignore: 'ChangeMe'
