opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
#  id: 'ChangeMe'
#  type: 'INTERNAL_ENRICHMENT'
#  name: 'Kaspersky Enrichment'
#  scope: 'StixFile'  # Support for additional observable types (IP addresses, domains, and URLs) will be added in future releases.
#  log_level: 'error'
#  auto: true # Enable/disable auto-enrichment of observables

kaspersky:
#  api_base_url: 'https://tip.kaspersky.com'
  api_key: 'ChangeMe'
#  zone_octi_score_mapping: 'red:100,orange:80,yellow:60,gray:20,green:0'
#  file_sections: 'LicenseInfo,Zone,FileGeneralInfo'
