opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'EXTERNAL_IMPORT'
  id: 'fae73097-aa2c-4460-96ee-1aa975ce1945' # Optional (default: 'fae73097-aa2c-4460-96ee-1aa975ce1945')
  name: 'MISP' # Optional (default: 'MISP')
  scope: 'misp' # Optional (default: 'misp')
  log_level: 'info' # Optional (default: 'error')
  duration_period: PT5M # Optional (default: 5 minutes)

misp:
  url: 'http://example.com'
  key: 'ChangeMe'
  ssl_verify: true # Optional (default: false)
  client_cert: null # Optional (default: null)
  reference_url: null # Optional (default: value of `url`)
  date_filter_field: 'date_from' # Optional (default: 'timestamp')
  datetime_attribute: 'date' # Optional (default: 'timestamp')
  create_reports: true # Optional (default: true)
  create_indicators: true # Optional (default: true)
  create_observables: true # Optional (default: true)
  create_object_observables: true # Optional (default: false)
  report_description_attribute_filter: '' # Optional (default: '', example: "type=comment,category=Internal reference")
  create_tags_as_labels: true # Optional (default: true)
  guess_threats_from_tags: false # Optional (default: false)
  author_from_tags: false # Optional (default: false)
  markings_from_tags: false # Optional (default: false)
  keep_original_tags_as_label: "" # Optional (default: '')
  enforce_warning_list: false # Optional (default: false)
  report_type: 'misp-event' # Optional (default: 'misp-event')
  import_from_date: '2010-01-01' # Optional (default: null)
  import_tags: '' # Optional (default: '')
  import_tags_not: '' # Optional (default: '')
  import_creator_orgs: '' # Optional (default: '')
  import_creator_orgs_not: '' # Optional (default: '')
  import_owner_orgs: '' # Optional (default: '')
  import_owner_orgs_not: '' # Optional (default: '')
  import_keyword: null # Optional (default: null)
  import_distribution_levels: '0,1,2,3' # Optional (default: '')
  import_threat_levels: '1,2,3,4' # Optional (default: '')
  import_only_published: false # Optional (default: false)
  import_with_attachments: false # Optional (default: false)
  import_to_ids_no_score: 40 # Optional (default: null)
  import_unsupported_observables_as_text: false # Optional (default: false)
  import_unsupported_observables_as_text_transparent: true # Optional (default: true)
  propagate_labels: false # Optional (default: false)
