opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'MISP'
  scope: 'misp'
  confidence_level: 25
  update_existing_data: false
  log_level: 'info'

misp:
  url: 'http://localhost'
  reference_url: ''
  key: 'ChangeMe'
  ssl_verify: true
  datetime_attribute: 'timestamp'
  create_reports: true
  create_observables: true
  report_description_filter: ''
  report_type: 'misp-event'
  import_from_date: '2010-01-01'
  import_tags: 'opencti:import,type:osint'
  import_tags_not: ''
  import_creator_orgs: 'CIRCL,Luatix'
  import_creator_orgs_not: ''
  import_owner_orgs: 'CIRCL'
  import_owner_orgs_not: ''
  import_keyword: ''
  import_distribution_levels: '0,1,2,3'
  import_threat_levels: '1,2,3,4'
  import_only_published: false
  import_with_attachments: false
  default_indicators_score: 40
  interval: 1
  convert_threatactor_to_intrusionset: true
  import_attributes_with_warnings: false
