opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ExportReportPdf'
  type: 'INTERNAL_EXPORT_FILE'
  name: 'ExportReportPdf'
  scope: 'application/pdf'
  confidence_level: 100 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

export_report_pdf:
  primary_color: '#ff8c00' # The primary color for the output pdf
  secondary_color: '#000000' # The secondary color for the output pdf
  company_address_line_1: 'Example Name' # The first line of your company address
  company_address_line_2: '123 Main Street'
  company_address_line_3: 'Miami, FL 33101 USA'
  company_phone_number: '888.888.8888' # The phone number of your company
  company_email: 'intelligence_reports@example.com' # The email of your company
  company_website: 'https://example.com' # The website of your company
  indicators_only: false # Whether or not to only include Observables that are Indicators in the report
  defang_urls: true # Replace http in Url observables with hxxp
