opencti:
  url: 'http://localhost:8080'
  token: 'OPENCTI_TOKEN'

connector:
  id: 'CONNECTOR_ID'
  name: 'SOCRadar'
  scope: 'socradar'
  log_level: 'error'
  duration_period: 'PT10M'

radar:
  base_feed_url: "https://platform.socradar.com/api/threat/intelligence/feed_list/" # Required
  socradar_key: "SOCRADAR_KEY"
  feed_lists_ids:
    feed_list_1: 'COLLECTION_ID'
    feed_list_2: 'COLLECTION_ID'
