# Generic parameters (connection with OpenCTI)

# Required
OPENCTI_URL=http://localhost
# Required
OPENCTI_TOKEN=CHANGEME


# Common parameters for connectors of type INTERNAL_ENRICHMENT

# Optional (default: '9ff0437e-dfeb-4340-98c5-3d88d5e1c31e')
CONNECTOR_ID=CHANGEME
# Optional (default: 'DNSTwist')
CONNECTOR_NAME=DNSTwist
# Optional (default: 'Domain-Name')
CONNECTOR_SCOPE=Domain-Name
# Optional (default: 'error')
CONNECTOR_LOG_LEVEL=error 
# Optional (default: false) /!\ Do not run the connector automatically, you will flood your opencti instance
CONNECTOR_AUTO=false


# Custom parameters for DNS Twist

# Optional (default: true)
DNS_TWIST_FETCH_REGISTERED=true
# Optional (default: 20)
DNS_TWIST_THREADS=80