OPENCTI_URL=http://opencti:8080
# Use one as provided by the platform
OPENCTI_TOKEN=
# Generate one with uuidgen
CONNECTOR_ID=
# From 0 (Unknown) to 100 (Fully trusted)
CONNECTOR_CONFIDENCE_LEVEL=100 
# One of the following: debug, info, warning, error
CONNECTOR_LOG_LEVEL=info
# Whether to update existing data or not
CONNECTOR_UPDATE_EXISTING_DATA=false
# Connector specifc parameters. Add anyone as required
#EXTRA_PARAMETER=foobar