opencti:
  url: 'http://opencti:8080'
  token: 'CHANGEME'

connector:
  id: 'CHANGEME'
  type: 'EXTERNAL_IMPORT'
  name: 'VULMATCH'
  scope:'=identity,attack-pattern,course-of-action,intrusion-set,malware,tool,report,vulnerability,campaign,incident,indicator,infrastructure,location,note,threat-actor,tool,software'
  log_level: 'info'

taxii2:
  discovery_url: 'https://app.vulmatch.com/taxii/taxii2'
  username: CHANGEME
  password: CHANGEME
  v2.1: True
  collections: 'CHANGEME'
  initial_history: 24
  interval: 24
  verify_ssl: True
