opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_IMPORT_FILE'
  name: 'ImportDocumentAI'
  validate_before_import: true # Validate any bundle before import
  scope: 'application/pdf,text/plain,text/html,text/markdown'
  auto: false # Enable/disable auto-import of file
  log_level: 'info'
  licence_key_pem: |
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----