opencti:
  url: 'http://opencti:8080'
  token: 'CHANGEME'

connector:
  id: 'CHANGEME'
  name: 'Intel471 v2'
  scope: 'malware,vulnerability,indicator'
  log_level: 'info'

intel471:
  api_username: CHANGEME
  api_key: CHANGEME
  interval_indicators: 60
  initial_history_indicators: 0
  interval_yara: 60
  initial_history_yara: 0
  interval_cves: 120
  initial_history_cves: 0
  interval_reports: 120
  initial_history_reports: 0
