opencti:
  url: http://localhost:8080
  token: ChangeMe

connector:
  id: ChangeMe
  type: STREAM
  name: Threat Bus
  scope: threatbus
  confidence_level: 15 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: info

threatbus:
  zmq_host: localhost
  zmq_receive_port: 13372
