opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'EXTERNAL_IMPORT'
  id: 'ChangeMe'

# Options available
# ft3:
  # interval: 5 # In days - default: 5
  # tactics_url: 'https://raw.githubusercontent.com/stripe/ft3/refs/heads/master/FT3_Tactics.json' # Optional - custom URL for tactics
  # techniques_url: 'https://raw.githubusercontent.com/stripe/ft3/refs/heads/master/FT3_Techniques.json' # Optional - custom URL for techniques
