opencti:
  # OpenCTI definition parameters - REQUIRED
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  # Connector definition parameters - REQUIRED
  id: 'ChangeMe'

  # Connector definition parameters - OPTIONAL
  #name: 'ChangeMe' # Default: 'Aerospace SPARTA'
  #scope: 'ChangeMe' # Default: '["attack-pattern", "course-of-action", "indicator", "identity"]'
  #log_level: 'ChangeMe' # Default: 'info'
  #duration_period: 'ChangeMe' # Default: 'PT5H' (ISO8601 format in String, start with P...)

sparta:
  # SPARTA definition parameters - OPTIONAL
  #base_url: 'ChangeMe' # Default: "https://sparta.aerospace.org/download/STIX?f=latest"