opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'STREAM'
  live_stream_id: 'live' # ID of the live stream created in the OpenCTI UI
  live_stream_listen_delete: true
  name: 'BackupFiles'
  scope: 'backup'
  log_level: 'info'

backup:
  protocol: 'local' # Protocol for file copy (only `local` is supported for now).
  path: '/tmp' # Path to be used to copy the data, can be relative or absolute.
