azure-identity~=1.25.0
azure-mgmt-securityinsight==1.0.0
filigran_sseclient~=1.0.2
pycti==7.260227.0
pydantic~=2.11.5
pydantic-settings~=2.9.1
connectors-sdk @ git+https://github.com/OpenCTI-Platform/connectors.git@7.260227.0#subdirectory=connectors-sdk
