OPENCTI_URL=http://localhost
OPENCTI_TOKEN=ChangeMe

CONNECTOR_ID=ChangeMe
CONNECTOR_NAME=Comlaude
CONNECTOR_SCOPE=comlaude,stix
CONNECTOR_LOG_LEVEL=info
CONNECTOR_DURATION_PERIOD=PT2H
#CONNECTOR_QUEUE_THRESHOLD=500MB
#CONNECTOR_RUN_AND_TERMINATE=true

COMLAUDE_USERNAME=ChangeMe
COMLAUDE_PASSWORD=ChangeMe
COMLAUDE_API_KEY=ChangeMe
COMLAUDE_GROUP_ID=ChangeMe
#COMLAUDE_SCORE=15
#COMLAUDE_START_TIME=1970-01-01T00:00:00Z
#COMLAUDE_LABELS=comlaude,safelist
