validators==0.33.0
requests==2.32.5
pycti==7.260227.0
urllib3==2.6.3
pydantic >=2.8.2, <3
connectors-sdk @ git+https://github.com/OpenCTI-Platform/connectors.git@7.260227.0#subdirectory=connectors-sdk
