python-dateutil==2.9.0.post0
pydantic-settings==2.10.1
pydantic>=2.10, <3
pycti==7.260224.0
connectors-sdk @ git+https://github.com/OpenCTI-Platform/connectors.git@7.260224.0#subdirectory=connectors-sdk
