{
  "title": "CHANGEME",
  "slug": "change-me",
  "description": "CHANGEME",
  "short_description": "CHANGEME",
  "logo": "https://res.cloudinary.com/dktzowanc/image/upload/v1752140062/Screenshot_2025-07-10_113340_hwa5wh.png",
  "use_cases" : ["CHANGEME"],
  "verified": false,
  "last_verified_date": "YYYY-MM-DD",
  "playbook_supported": false,
  "max_confidence_level": 50,
  "support_version": ">=6.5.1",
  "subscription_link": "CHANGEME or null",
  "source_code": "CHANGEME",
  "manager_supported": false,
  "container_version": "rolling",
  "container_image": "opencti/connector-CONNECTOR_NAME",
  "container_type": "CHANGEME"
}