opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'GreyNoise'
  scope: 'IPv4-Addr'
  auto: true # Enable/disable auto-enrichment of observables
  log_level: 'info'

greynoise:
  key: 'ChangeMe'
  max_tlp: 'TLP:AMBER'
  name: 'GreyNoise sensors'
  description: 'GreyNoise collects and analyzes untargeted, widespread, and opportunistic scan and attack activity that reaches every server directly connected to the Internet.'
  sighting_not_seen: false
  default_score: 50 # Former confidence_level deprecated in OpenCTI version >= 6.0