OPENCTI_URL=http://opencti:8080
# Use one as provided by the platform
OPENCTI_TOKEN=
# Generate one with uuidgen
CONNECTOR_ID=
# One of the following: debug, info, warning, error
CONNECTOR_LOG_LEVEL=info
CONNECTOR_DURATION_PERIOD=P1D
CONNECTOR_TYPE=EXTERNAL_IMPORT
CONNECTOR_SCOPE=stix2
CONNECTOR_NAME=Shadowserver
# Custom connector parameters.
SHADOWSERVER_API_KEY=CHANGEME
SHADOWSERVER_API_SECRET=CHANGEME
SHADOWSERVER_MARKING=TLP:CLEAR
SHADOWSERVER_CREATE_INCIDENT=true
SHADOWSERVER_INCIDENT_SEVERITY=low
SHADOWSERVER_INCIDENT_PRIORITY=P4