opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'EXTERNAL_IMPORT'
  id: 'ChangeMe'
  name: 'Shadowserver'
  scope: 'stix2'
  log_level: 'info'
  duration_period: 'P1D'

shadowserver:
  api_key: 'ChangeMe'
  api_secret: 'ChangeMe'
  marking: 'TLP:CLEAR'
  create_incident: 'true'
  incident_severity: 'low'
  incident_priority: 'P4'
  max_threads: 8
  report_types: ''
  initial_lookback: 30
  lookback: 3
