services:
  connector-datadog:
    image: opencti/connector-datadog:rolling
    environment:
      # Connector's generic execution parameters
      - OPENCTI_URL=http://localhost:4000
      - OPENCTI_TOKEN=ChangeMe
      # Connector's definition parameters
      - CONNECTOR_ID=ChangeMe
      # - CONNECTOR_NAME=DataDog
      # - CONNECTOR_SCOPE=stix2
      # - CONNECTOR_LOG_LEVEL=error
      # - CONNECTOR_DURATION_PERIOD=PT1H # ISO8601 format
      # Connector's custom execution parameters
      - DATADOG_TOKEN=ChangeMe
      - DATADOG_APP_KEY=ChangeMe
      # - DATADOG_API_BASE_URL=https://api.datadoghq.com
      # - DATADOG_APP_BASE_URL=https://app.datadoghq.com
      # - DATADOG_IMPORT_START_DATE=2024-01-01T00:00:00Z
      # - DATADOG_MAX_TLP=TLP:AMBER # Available values are: TLP:CLEAR, TLP:WHITE, TLP:GREEN, TLP:AMBER, TLP:AMBER+STRICT, TLP:RED
      # - DATADOG_BATCH_SIZE=100
      # - DATADOG_IMPORT_ALERTS=true
      # - DATADOG_CREATE_INCIDENT_RESPONSE_CASES=false
      # - DATADOG_ALERT_PRIORITIES=P1,P2,P3,P4
      # - DATADOG_ALERT_TAGS_FILTER= # e.g. env:prod,team:secops
      # - DATADOG_EXTRACT_OBSERVABLES_FROM_ALERTS=true
      # - DATADOG_INCLUDE_ALERT_CONTEXT=true
    restart: always
