opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'SentinelOne Incident External Import Connector'
  scope: 'ChangeMe'
  log_level: 'info'
  duration_period: 'PT5M' # Interval given for scheduler process in ISO-8601 format

SentinelOne:
  api_key: 'ChangeMe'
  account_id: 'ChangeMe'
  url: 'ChangeMe'
  max_api_attempts: 5
  sign: 'OpenCTI_add'