opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'VX Vault URL list'
  scope: 'vxvault'
  create_indicator: False
  log_level: 'info'

vxvault:
  url: 'https://vxvault.net/URL_List.php'
  create_indicators: True
  interval: 3 # In days, must be strictly greater than 1
  ssl_verify: False

