# Required
OPENCTI_URL=http://localhost
OPENCTI_TOKEN=ChangeMe
CONNECTOR_ID=ChangeMe
THEHIVE_URL=https://thehive.changeme.com
THEHIVE_API_KEY=ChangeMe
THEHIVE_ORGANIZATION_NAME=MyCompany

# Optional (defaults shown)
# CONNECTOR_NAME=TheHive
# CONNECTOR_SCOPE=thehive
# CONNECTOR_LOG_LEVEL=error
# CONNECTOR_DURATION_PERIOD=PT5M
# THEHIVE_CHECK_SSL=true
# THEHIVE_IMPORT_FROM_DATE=2021-01-01T00:00:00
# THEHIVE_IMPORT_ONLY_TLP=0,1,2,3,4
# THEHIVE_IMPORT_ALERTS=true
# THEHIVE_IMPORT_ATTACHMENTS=false
# THEHIVE_SEVERITY_MAPPING=1:01 - low,2:02 - medium,3:03 - high,4:04 - critical
# THEHIVE_CASE_STATUS_MAPPING=
# THEHIVE_TASK_STATUS_MAPPING=
# THEHIVE_ALERT_STATUS_MAPPING=
# THEHIVE_USER_MAPPING=
# THEHIVE_CASE_TAG_WHITELIST=
