opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'EXTERNAL_IMPORT'
  id: 'ChangeMe'  # Valid UUIDv4
  name: 'Doppel Threat Intelligence'
  scope: 'doppel'
  log_level: 'info'
  duration_period: 'PT1H'  # Interval given for scheduler process in ISO-8601 format

doppel:
  api_base_url: 'https://api.doppel.com/v1'
  api_key: 'ChangeMe'
  user_api_key: null
  organization_code: null
  tlp_level: 'clear'  # available values are: clear, white, green, amber, amber+strict, red
  alerts_endpoint: '/alerts'
  historical_polling_days: 30
  max_retries: 3
  retry_delay: 30
  page_size: 100
