opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_IMPORT_FILE'
  name: 'Hybrid Analysis (ImportFile)'
  auto: true # Enable/disable auto-import of file
  confidence_level: 50 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

hybrid_analysis:
  api_key: 'ChangeMe'
  max_tlp: 'TLP:AMBER'
