opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'OpenCSAM'
  scope: 'opencsam'
  confidence_level: 20 # From 0 (Unknown) to 100 (Fully trusted)
  validate_before_import: true # Validate any bundle before import
  update_existing_data: false
  run_and_terminate: false
  log_level: 'info'

opencsam:
  api_url: 'ChangeMe'
  api_key: 'ChangeMe'
  import_start_date: '2022-01-01'
  organization: 'ChangeMe'
  tags: 'ransomware,breach,incident'
  interval: 5 # Required, in minutes