OPENCTI_URL=http://opencti:8080
OPENCTI_TOKEN=ChangeMe
#CONNECTOR_ID=tagger--b5970f8a-ce4b-4497-a381-20b7256f5777
#CONNECTOR_NAME=Tagger
#CONNECTOR_SCOPE=report,malware,tool
#CONNECTOR_LOG_LEVEL=error
#CONNECTOR_AUTO=true
#TAGGER_DEFINITIONS=[{"scopes":["Report","Tool"],"rules":[{"label":"cloud","search":"[Cc]loud","attributes":["name","description"]},{"label":"mobile","search":"mobile|android|apk","flags":["IGNORECASE"],"attributes":["name","description"]}]},{"scopes":["Malware"],"rules":[{"label":"windows","search":"registry|regkey","flags":["IGNORECASE"],"attributes":["description"]}]}]
