opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'EXTERNAL_IMPORT'
  id: 'ChangeMe'
  name: 'DomainTools Iris Detect'
  scope: 'stix2'
  log_level: 'error' # optional (default: 'error')
  duration_period: 'PT1H' #  # optional, interval in ISO-8601 format between two runs of the connector (default: 'PT1H')

domaintools:
  api_base_url: 'https://api.domaintools.com/v1/iris-detect/'
  api_key: 'ChangeMe'
  monitor_id: 'ChangeMe'      # optional
  store_iris_data: 'ChangeMe' # optional
  preview: 'ChangeMe'     # optional
  tlp_level: 'clear' # optional, available values: 'clear', 'white', 'green', 'amber', 'amber+strict', 'red' (default: 'clear')
