# OpenCTI configuration
OPENCTI_URL=http://localhost:8080
OPENCTI_TOKEN=ChangeMe

# Common connector configuration
#CONNECTOR_ID="censys-collections"
#CONNECTOR_NAME="Censys Collections"
#CONNECTOR_LOG_LEVEL=error
#CONNECTOR_DURATION_PERIOD=PT1H

# Censys configuration
CENSYS_COLLECTIONS_ORGANISATION_ID=ChangeMe
CENSYS_COLLECTIONS_TOKEN=ChangeMe
#CENSYS_COLLECTIONS_COLLECTION_IDS=
#CENSYS_COLLECTIONS_EXCLUDED_COLLECTION_IDS=
#CENSYS_COLLECTIONS_TLP_LEVEL=TLP:AMBER
#CENSYS_COLLECTIONS_INDICATOR_SCORE=50
#CENSYS_COLLECTIONS_AUTO_INDICATOR_BY_SCORE=false
#CENSYS_COLLECTIONS_INDICATOR_SCORE_THRESHOLD=50
#CENSYS_COLLECTIONS_REQUEST_TIMEOUT_SECONDS=60