opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'STREAM'
  name: 'Sekoia'
  scope: 'Sekoia'
  log_level: 'info'
  live_stream_id: 'live' # ID of the live stream created in the OpenCTI UI
  live_stream_listen_delete: true
  live_stream_no_dependencies: true

sekoia_intel:
  url: 'ChangeMe' # The URL of the Sekoia Server
  apikey: 'ChangeMe' # Token for bearer auth
  ioc_collection_uuid: 'from_OpenCTI'