OPENCTI_URL=http://localhost
OPENCTI_TOKEN=ChangeMe

CONNECTOR_ID=ChangeMe
CONNECTOR_NAME=Flowtriq DDoS Incidents
CONNECTOR_SCOPE=flowtriq
CONNECTOR_LOG_LEVEL=info
CONNECTOR_DURATION_PERIOD=PT1H

FLOWTRIQ_API_URL=https://app.flowtriq.com
FLOWTRIQ_API_KEY=ChangeMe
FLOWTRIQ_INCIDENT_STATUS=resolved
FLOWTRIQ_CREATE_INDICATOR=true
FLOWTRIQ_TLP_LEVEL=green
FLOWTRIQ_IMPORT_LIMIT=100
