opencti:
  url: "http://localhost:8080"
  token: "ChangeMe"

connector:
  id: "ChangeMe"
  type: "INTERNAL_ENRICHMENT"
  name: "Malbeacon"
  scope: "IPv4-Addr,IPv6-Addr,Domain-Name"
  auto: false # Enable/disable auto-enrichment of observables
  log_level: "info"

malbeacon:
  api_key: "ChangeMe"
  api_base_url: "https://api.malbeacon.com/v1/" # Required
  indicator_score_level: 50
  max_tlp: "TLP:AMBER" # Required, Available values: TLP:CLEAR, TLP:WHITE, TLP:GREEN, TLP:AMBER, TLP:AMBER+STRICT, TLP:RED