opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  live_stream_id: 'ChangeMe' # ID of the live stream created in the OpenCTI UI
#   name: 'CrowdStrike Endpoint Security'
#   scope: 'crowdstrike-endpoint-security'
#   live_stream_listen_delete: true
#   live_stream_no_dependencies: true
#   log_level: 'error'
#   consumer_count: 5 # number of consumer/worker used to push data
#   ignore_types: 'label,marking-definition,identity'

crowdstrike:
#   api_base_url: 'https://api.crowdstrike.com'
  client_id: 'ChangeMe'
  client_secret: 'ChangeMe'
#   permanent_delete: false
#   falcon_for_mobile_active: false

# metrics:
#   enable: false # set to true to expose prometheus metrics
#   port: 9113 # port on which metrics should be exposed
#   addr: 0.0.0.0 # ip on which metrics should be exposed
