pycti==6.9.22
prometheus-client>=0.20.0,<=0.22.1
crowdstrike-falconpy==1.6.0
pydantic >=2.8.2, <3
connectors-sdk @ git+https://github.com/OpenCTI-Platform/connectors.git@6.9.22#subdirectory=connectors-sdk
