opencti:
  url: http://opencti:8080
  token: CHANGEME

connector:
  id: CHANGEME
  name: Checkfirst Import Connector
  scope: media-content,channel,url
  log_level: info
  duration_period: P7D

checkfirst:
  api_url: ChangeMe
  api_key: ChangeMe
  api_endpoint: /v1/articles
  since: "2025-01-01T00:00:00Z"
  force_reprocess: false
  tlp_level: clear
