# OpenCTI Configuration
OPENCTI_URL=http://opencti:8080
OPENCTI_TOKEN=

# Connector Configuration
CONNECTOR_ID=scout-search-connector
CONNECTOR_TYPE=INTERNAL_ENRICHMENT
CONNECTOR_NAME="Scout Search Connector"
CONNECTOR_SCOPE=Indicator
CONNECTOR_CONFIDENCE_LEVEL=100
CONNECTOR_LOG_LEVEL=error

# Pure Signal Scout Configuration
PURE_SIGNAL_SCOUT_API_URL=https://taxii.cymru.com/api/scout
PURE_SIGNAL_SCOUT_API_TOKEN=
PURE_SIGNAL_SCOUT_MAX_TLP=TLP:AMBER
PURE_SIGNAL_SCOUT_SEARCH_INTERVAL=1
PURE_SIGNAL_SCOUT_INDICATOR_PATTERN_TYPE=pure-signal-scout
PURE_SIGNAL_SCOUT_PATTERN_DESCRIPTION="Scout Search Query Pattern"