opencti:
  url: 'http://opencti:8080'
  token: 'Changeme'

connector:
  id: 'scout-search-connector'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Scout Search Connector'
  scope: 'Text'
  confidence_level: 100
  log_level: 'error'

pure_signal_scout:
  api_url: 'https://taxii.cymru.com/api/scout'
  api_token: 'Changeme'
  max_tlp: 'TLP:AMBER'
  search_interval: 1