opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'IPQS Fraud and Risk Scoring'
  scope: 'IPv4-Addr,Email-Addr,Phone-Number,Domain-Name,Url'
  auto: true # Enable/disable auto-enrichment of observables
  confidence_level: 15 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

ipqs:
  private_key: 'ChangeMe'
  base_url: 'https://ipqualityscore.com/api/json'

  # IP specific config settings
  ip_add_relationships: true # Whether or not to add ASN relationships

  # Domain specific config settings
  domain_add_relationships: true # Whether or not to add IPv4, Domain relationships