pycti==7.260722.0
maec==4.1.0.17
stix2-elevator==4.1.7
typing-extensions==4.15.0
pydantic~=2.11.3
connectors-sdk @ git+https://github.com/OpenCTI-Platform/connectors.git@master#subdirectory=connectors-sdk