# OpenCTI Configuration
OPENCTI_URL=http://opencti:8080
OPENCTI_TOKEN=Changeme

# Connector Configuration
CONNECTOR_ID=scout-enrichment-connector
CONNECTOR_TYPE=INTERNAL_ENRICHMENT
CONNECTOR_NAME=Scout Enrichment Connector
CONNECTOR_SCOPE=IPv4-Addr,IPv6-Addr,Domain-Name
CONNECTOR_AUTO=false
CONNECTOR_CONFIDENCE_LEVEL=100
CONNECTOR_LOG_LEVEL=error

# Pure Signal Scout API Configuration
PURE_SIGNAL_SCOUT_API_URL=https://taxii.cymru.com/api/scout
PURE_SIGNAL_SCOUT_API_TOKEN=Changeme
PURE_SIGNAL_SCOUT_MAX_TLP=TLP:AMBER
