opencti:
  url: 'http://localhost'
  token: 'Changeme'

connector:
  type: 'INTERNAL_ENRICHMENT'
  id: 'e0256d06-b97c-416e-adc9-ee29325d8f37'
  name: 'PureSignalScout'
  scope: 'IPv4-Addr,IPv6-Addr,Domain-Name'
  auto: true
  confidence_level: 75
  log_level: 'info'

pure_signal_scout:
  api_url: 'https://taxii.cymru.com/api/scout/'
  api_token: 'Changeme'
  max_tlp: 'TLP:AMBER'