# Connector's generic execution parameters
OPENCTI_URL=http://opencti:8080
OPENCTI_TOKEN=CHANGEME

# Connector's definition parameters REQUIRED
CONNECTOR_ID=CHANGEME
CONNECTOR_NAME=Tenable Security Center
CONNECTOR_SCOPE=vulnerability
CONNECTOR_LOG_LEVEL=warn
CONNECTOR_DURATION_PERIOD=PT12H  # ISO8601 format in String, start with P... 

# Connector's definition parameters OPTIONAL
# CONNECTOR_QUEUE_THRESHOLD=500 # Default 500MBytes, Float accepted
# CONNECTOR_RUN_AND_TERMINATE=False # Default False, True run connector once
# CONNECTOR_SEND_TO_QUEUE=True # Default True
# CONNECTOR_SEND_TO_DIRECTORY=False # Default False 
# CONNECTOR_SEND_TO_DIRECTORY_PATH=CHANGEME # if CONNECTOR_SEND_TO_DIRECTORY is True, you must specify a path
# CONNECTOR_SEND_TO_DIRECTORY_RETENTION=7 # Default 7, in days

# Tenable Security Center parameters

TSC_API_BASE_URL=CHANGEME # Base URL for Tenable Security Center API
TSC_API_ACCESS_KEY=CHANGEME # Access key for Tenable Security Center API
TSC_API_SECRET_KEY=CHANGEME # Secret key for Tenable Security Center API

TSC_EXPORT_SINCE=2024-11-18T12:00:00Z # Export data since this date, in ISO8601 format, This will be overwritten after the first sucessfull run.
TSC_SEVERITY_MIN_LEVEL=high # Minimum severity level to export should be in "info", "low", "medium", "high", "critical"
TSC_PROCESS_SYSTEMS_WITHOUT_VULNERABILITIES=false # Process systems without vulnerabilities
TSC_MARKING_DEFINITION=TLP:CLEAR # Marking definition for exported data
# TSC_API_TIMEOUT=30 # Timeout for API requests in seconds, default is 30
# TSC_API_BACKOFF=5 # Backoff time in seconds for API retries, default is 5
# TSC_API_RETRIES=3 # Number of retries for API requests, default is 3
# TSC_NUMBER_THREADS=4 #Number of Thread to execute in parallel, default is 1

