opencti:
  url: 'ChangeMe'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  # name: 'ZeroFox'
  # scope: 'zerofox'
  # log_level: 'error'
  # duration_period: 'P1D'
  # update_existing_data: false

zerofox:
  username: 'ChangeMe'
  password: 'ChangeMe'
  # collectors: ''
  # first_run: 'P1D'
