requests>=2.31.0,<=2.33.0
pydantic>=2.8.2,<3
pycti==7.260722.0
urllib3>=2.2.1,<3.0.0
stix2[semantic]>=3.0.1,<4.0.0
pycountry>=24.6.1,<25.0.0
connectors-sdk @ git+https://github.com/OpenCTI-Platform/connectors.git@master#subdirectory=connectors-sdk
