opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  # name: 'Cybersixgill Darkfeed'
  # scope: 'cybersixgill' # MIME type or SCO
  # log_level: 'error'
  # duration_period: 'PT5M' # ISO8601 format in String, start with 'P...' for Period

cybersixgill:
  client_id: 'ChangeMe'
  client_secret: 'ChangeMe'
  # create_observables: true
  # create_indicators: true
  # enable_relationships: true
  # fetch_size: 2000
