opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'ThreatMatch'
  scope: 'threatmatch'
  confidence_level: 75 # From 0 (Unknown) to 100 (Fully trusted)
  update_existing_data: false
  log_level: 'info'

threatmatch:
  url: 'https://eu.threatmatch.com'
  client_id: 'ChangeMe'
  client_secret: 'ChangeMe'
  interval: 5 # In Minutes
  import_from_date: '2010-01-01 00:00'
  import_profiles: true # Import profiles
  import_alerts: true # Import alerts
  import_reports: true # Import reports

