opencti:
  url: 'http://localhost'
  token: "ChangeMe"

connector:
  type: 'INTERNAL_ENRICHMENT'
  #id: "496df155-c2f0-43b3-ab46-4352e68989d8" # Optional (default: '496df155-c2f0-43b3-ab46-4352e68989d8')
  #name: "UrlScan" # Optional (default: 'Urlscan Enrichment')
  #scope: "url,ipv4-addr,ipv6-addr" # Optional (default: 'url,ipv4-addr,ipv6-addr')
  #auto: false # Optional (default: false)
  #log_level: "error" # Optional (default: 'error')

urlscan_enrichment:
  #api_key: null # Optional (default: null)
  #import_screenshot: false # Optional (default: true)
  #visibility: "public" # Optional (default: 'public')
  #search_filtered_by_date: ">now-2d" # Optional (default: '>now-1d')
  #max_tlp: "TLP:AMBER" # Optional (default: 'TLP:AMBER')
  #create_indicator: true # Optional (default: true)
