# OpenCTI configuration
OPENCTI_URL=http://localhost:8080
OPENCTI_TOKEN=ChangeMe

# Common connector configuration
CONNECTOR_ID=ChangeMe
CONNECTOR_TYPE=EXTERNAL_IMPORT
CONNECTOR_NAME=Dragos
CONNECTOR_SCOPE=report,vulnerabilities
CONNECTOR_LOG_LEVEL=warning
CONNECTOR_DURATION_PERIOD=PT1D

# Dragos configuration
DRAGOS_API_BASE_URL=https://portal.dragos.com
DRAGOS_API_TOKEN=ChangeMe
DRAGOS_API_SECRET=ChangeMe
DRAGOS_IMPORT_START_DATE=PT30D
DRAGOS_TLP_LEVEL=amber
