# OpenCTI configuration
OPENCTI_URL=http://localhost:PORT
OPENCTI_TOKEN=ChangeMe

# Common connector configuration
CONNECTOR_ID=ChangeMe
CONNECTOR_TYPE=EXTERNAL_IMPORT
CONNECTOR_NAME=Dragos
CONNECTOR_SCOPE=["ChangeMe"]
CONNECTOR_LOG_LEVEL=error
CONNECTOR_DURATION_PERIOD=PT5M

# Dragos configuration
DRAGOS_API_BASE_URL=ChangeMe
DRAGOS_API_TOKEN=ChangeMe
DRAGOS_IMPORT_START_DATE=ChangeMe
DRAGOS_TLP_LEVEL=amber
