opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'OpenCTI Datasets'
  scope: 'marking-definition,identity,location'
  confidence_level: 90
  update_existing_data: true
  run_and_terminate: false
  log_level: 'info'

config:
  remove_creator: false
  interval: 7 # In days