pycti==6.8.6
lxml==5.4.0
crowdstrike-falconpy==1.5.4
pydantic>=2.10,<3
pydantic-settings>=2.0
connectors-sdk @ git+https://github.com/OpenCTI-Platform/connectors.git@bug/5041-connectorssdk-fix-the-conflicts-between-the-dependencies-of-the-sdk-and-the-connectors#subdirectory=connectors-sdk