opencti:
  url: 'ChangeMe'
  token: 'ChangeMe'

connector:
  id: 'Hatching_Triage_Sandbox'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Hatching Triage Sandbox'
  scope: 'Artifact'
  auto: false # Enable/disable auto-enrichment of observables
  confidence_level: 50 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

hatching_triage_sandbox:
  base_url: 'https://tria.ge/api' # See https://tria.ge/docs/
  token: 'ChangeMe' # See https://tria.ge/account
  use_existing_analysis: true # If true, get existing analysis if any
  family_color: '#0059f7' # Label color for family
  botnet_color: '#f79e00' # Label color for botnet
  campaign_color: '#7a01e5' # Label color for campaign
  tag_color: '#54483b' # Label color for all other labels
  max_tlp: 'TLP:AMBER'
