opencti: # OpenCTI Parameters
  url: 'http://localhost:PORT' # REQUIRED
  token: 'ChangeMe' # REQUIRED

connector: # Connector Parameters
  id: 'ChangeMe' # REQUIRED
  #============================================#
  # Optional connector's definition parameters #
  #============================================#
  #name: 'ChangeMe' # OPTIONAL - Default: 'ServiceNow'
  #scope: 'ChangeMe' # OPTIONAL - Default: 'ServiceNow'
  #log_level: 'ChangeMe' # OPTIONAL - Default: 'error'
  #duration_period: 'ChangeMe' # OPTIONAL - Default: 'PT24H' (ISO8601 format in String, start with P...)
  #queue_threshold: ChangeMe # OPTIONAL - Default: 500 MBytes, Float accepted
  #run_and_terminate: ChangeMe # OPTIONAL - Default: False, True run connector once
  #send_to_queue: ChangeMe # OPTIONAL - Default: True
  #send_to_directory: ChangeMe # OPTIONAL - Default: False
  #send_to_directory_path: 'ChangeMe' # OPTIONAL - if CONNECTOR_SEND_TO_DIRECTORY is True, you must specify a path
  #send_to_directory_retention: ChangeMe # OPTIONAL - Default: 7, in days

servicenow: # Servicenow Parameters
  instance_name: 'ChangeMe' # REQUIRED
  instance_username: 'ChangeMe' # REQUIRED
  instance_password: 'ChangeMe' # REQUIRED
  import_start_date: 'ChangeMe' # REQUIRED - Format: 'YYYY-MM-DD'
  tlp_level: 'ChangeMe' # OPTIONAL - Default: 'clear' (available: clear, green, amber, amber+strict, red)
