opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'EXTERNAL_IMPORT'
  id: 'ChangeMe'
  name: 'Citalid'
  scope: 'citalid'
  run_and_terminate: false
  log_level: 'info'
  duration_period: 'P1D' # ISO 8601 duration (replaces deprecated citalid.interval)

citalid:
  customer_sub_domain_url: 'https://ChangeMe.citalid.com'
  user: 'ChangeMe'
  password: 'ChangeMe'
  # interval: 24 # In hours (deprecated, use connector.duration_period instead)
