opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Citalid'
  scope: 'citalid'
  confidence_level: 30 # From 0 (Unknown) to 100 (Fully trusted)
  update_existing_data: false
  run_and_terminate: false
  log_level: 'info'

citalid:
  files_path: '/path/to/data'
  start_date: '1609455600' # 2021-01-01
  interval: 5 # In minutes
