opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'STREAM'
  live_stream_id: 'live' # ID of the live stream created in the OpenCTI UI
  live_stream_listen_delete: true
  live_stream_no_dependencies: true
  name: 'Splunk'
  scope: 'splunk' # Reserved
  confidence_level: 80 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'
  consumer_count: 5 # number of consumer/worker used to push data to splunk

splunk:
  url: 'https://splunk1.changeme.com:8089'
  token: 'Token'
  owner: 'nobody'
  ssl_verify: true
  app: 'search'
  kv_store_name: 'opencti'
  ignore_types: 'label,marking-definition,identity'

metrics:
  enable: true # set to true to expose prometheus metrics
  port: 9113 # port on which metrics should be exposed
  addr: 0.0.0.0 # ip on which metrics should be exposed
