pycti==7.260715.0
stix-shifter==8.0.2
stix-shifter-utils==8.0.2
stix-shifter-modules-splunk==8.0.2
pydantic >=2.8.2, <3
connectors-sdk @ git+https://github.com/OpenCTI-Platform/connectors.git@master#subdirectory=connectors-sdk
