opencti:
  url: 'ChangeMe'
  token: 'ChangeMe'

connector:
  id: 'virustotal_livehunt_notifications'
  type: 'EXTERNAL_IMPORT'
  name: 'Virustotal Livehunt Notifications'
  scope: 'virustotal_livehunt_notifications'
  confidence_level: 40 # From 0 (Unknown) to 100 (Fully trusted)
  create_indicator: False
  update_existing_data: false
  log_level: 'info'

virustotal_livehunt_notifications:
  api_key: 'ChangeMe' # Private API Key
  cooldown_seconds: 300 # Time to wait in seconds between subsequent requests
  rulename_color: '#0059f7' # Color to use for Yara rule name labels
  labels_color: '#54483b' # Color to use for all other labels
  extensions: 'exe,dll' # (Optional) Comma separated filter to only download files matching these extensions
  min_file_size: 1000 # (Optional) Don't download files smaller than this many bytes
  max_file_size: 52428800 # (Optional) Don't download files larger than this many bytes
  max_age: 1 # (Optional) Don't download files older than this many days (first seen in VT)
  min_positives: 5 # (Optional) Don't download files with less than this many vendors marking malicious
  labels: 'livehunt' # (Optional) Comma separated labels to apply for uploaded files
