opencti:
  url: 'http://localhost:4000'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Recorded Future' # Required
  scope: 'ipv4-addr,ipv6-addr,vulnerability,domain,url,file-sha256,file-md5,file-sha1'
  log_level: 'info'
  duration_period: 'PT24H' # ISO8601 Format starting with "P" for Period ex: "PT24H" // Period time of 5 minutes

rf:
  token: 'ChangeMe' # Required
  initial_lookback: 240 # Required, in hours
  pull_analyst_notes: True
  last_published_notes: 24 # Required, in hours
  TLP: red
  topic: 'VTrvnW,g1KBGl,ZjnoP0,aDKkpk,TXSFt5,UrMRnT,TXSFt3' # optional / Corresponds to Yara Rule, Sigma Rule, Snort Rule, TTP Instance, Validated Intelligence Event, Informational, Threat Lead
  insikt_only: True # optional
  pull_signatures: False # Pull Yara/Snort/Sigma rules into OpenCTI. optional
  person_to_TA: False # optional
  TA_to_intrusion_set: False # optional
  risk_as_score: True # optional
  risk_threshold: 60 # optional
  pull_risk_list: False
  risk_list_threshold: 70 # optional
  # if pull_risk_list is true, risklist_related_entities is required.
  # Available choices: Malware,Hash,URL,Threat Actor,MitreAttackIdentifier
  risklist_related_entities: 'Malware,Threat Actor,MitreAttackIdentifier'
  pull_threat_maps: False # optional - Pull Threat Actors and Malware maps

alert:
  enable: False # required
  default_opencti_severity: "low" # optional
  priority_alerts_only: False # optional - default: False

playbook_alert:
  enable: False # required
  severity_threshold_domain_abuse: 'Informational' # optional
  severity_threshold_identity_novel_exposures: 'Informational' # optional
  severity_threshold_code_repo_leakage: 'Informational' # optional
  debug: False # optional