antlr4-python3-runtime
chardet
datefinder
idna
pika
pycti==6.9.23
pydantic>=2.10, <3
pydantic-settings>=2.0
python-dateutil
pytz
PyYAML
regex
rfapi
simplejson
six
sseclient
stix2
stix2-patterns
urllib3
connectors-sdk @ git+https://github.com/OpenCTI-Platform/connectors.git@6.9.23#subdirectory=connectors-sdk

