opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  #name: 'Microsoft Defender Incidents' # Optional (default: 'Microsoft Defender Incidents')
  #scope: 'defender' # Optional (default: 'defender')
  #log_level: 'error' # Optional (default: 'error')
  #duration_period: 'PT1H' # Optional (default: 'PT1H')

microsoft_defender_incidents:
  tenant_id: 'ChangeMe'
  client_id: 'ChangeMe'
  client_secret: 'ChangeMe'
  #api_base_url: 'https://graph.microsoft.com/v1.0' # Optional (default: 'https://graph.microsoft.com/v1.0')
  #incident_path: '/security/incidents' # Optional (default: '/security/incidents')
  #import_start_date: '2020-01-01T00:00:00Z' # Optional (default: '2020-01-01T00:00:00Z')
