opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  name: 'Template Connector'
  scope: 'ChangeMe'
  log_level: 'error'
  live_stream_id: 'live' # ID of the live stream created in the OpenCTI UI
  live_stream_listen_delete: true
  live_stream_no_dependencies: true

template:
  api_base_url: 'ChangeMe'
  api_key: 'ChangeMe'