opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Sighting'
  scope: 'IPv4-Addr,IPv6-Addr,Domain-Name,X-OpenCTI-Hostname,Url,StixFile,Network-Traffic'
  auto: true # Enable/disable auto-enrichment of observables
  confidence_level: 50 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

sighting:
  organization: 'My custom organization'
  labels: ["internal-proxies", "internal-firewalls"]