opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'EXTERNAL_IMPORT'
  id: 'ChangeMe'
  name: 'SIEMRULES'
  scope: 'identity,report,indicator'
  confidence_level: 70
  update_existing_data: false
  log_level: 'info'

taxii2:
  discovery_url: 'https://app.siemrules.com/taxii/taxii2'
  username: ChangeMe
  password: ChangeMe
  v21: True
  collections: ChangeMe
  initial_history: 24
  interval: 24
  verify_ssl: True
