opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

#connector:
#  type: 'EXTERNAL_IMPORT'
#  id: 'email-intel-microsoft--5d44401f-0b96-4169-a657-61b49176fc62'
#  name: 'Email Intel Microsoft'
#  scope: 'email-intel-microsoft'
#  log_level: 'error'
#  duration_period: 'PT1H'

email_intel_microsoft:
#  tlp_level: 'amber+strict'
#  relative_import_start_date: 'P30D'
  tenant_id: 'ChangeMe'
  client_id: 'ChangeMe'
  client_secret: 'ChangeMe'
  email: 'ChangeMe'
#  mailbox: 'INBOX'
#  attachments_mime_types: 'application/pdf,text/csv,text/plain'
