opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'INTERNAL_ENRICHMENT'
  id: 'ChangeMe'
  name: 'YARA'
  scope: 'Artifact' # MIME type or SCO
  auto: true # Enable/disable auto-enrichment of observables
  log_level: 'info'