opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  # name: 'ImportTTPsFileNavigator'
  # scope: 'application/json'
  # validate_before_import: true # Validate any bundle before import
  # auto: false # Enable/disable auto-import of file
  # log_level: 'error'

