opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Flashpoint'
  scope: 'flashpoint'
  run_and_terminate: false
  log_level: 'info'

flashpoint:
  api_key: 'ChangeMe'
  import_start_date: '2024-01-01'
  import_apt: false
  import_malware: false
  import_reports: true
  import_indicators: true
  import_vulnerabilities: true
  import_communities: false
  communities_queries: 'cybersecurity,cyberattack'
  import_alerts: true
  indicators_in_reports: false
  interval: 5 # In minutes

