opencti:
  url: 'http://opencti:8080'
  token: 'CHANGEME'

connector:
  id: 'CHANGEME'
  type: 'EXTERNAL_IMPORT'
  name: 'cuckoo_Import' # Required
  log_level: 'info'

cuckoo:
  base_url: 'CHANGEME' # Required
  api_url: CHANGEME
  enable_network_traffic: True
  enable_registry_keys: True
  create_indicators: True
  interval: 10
  start_task_id: 0
  report_score: 7 # Required, in hours
  verify_ssl: True
