opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  # id: '30c40257-9514-4b54-bcc9-15445fe21e5e'
  # name: 'ANY.RUN task'
  # scope: 'Artifact,Url'
  auto: false # Enable/disable auto-enrichment of observables
  confidence_level: 75 # From 0 (Unknown) to 100 (Fully trusted)
  # log_level: 'error'

anyrun:
  token: 'ChangeMe'
  max_tlp: 'TLP:AMBER'
  url: 'https://api.any.run'
  timer: 60
  os: 'windows'
  bitness: '64'
  version: '10'
  locale: 'en-US'
  browser: 'Google Chrome'
  privacy: 'bylink'
  automated_interactivity: False
  ioc: True
  mitre: False
  processes: False
