opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_IMPORT_FILE'
  name: 'ImportFileStix'
  scope: 'application/json,text/xml'
  confidence_level: 15 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'