opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_IMPORT_FILE' # Or can also be INTERNAL_ANALYSIS for content analysis
  name: 'ImportDocument'
  validate_before_import: true # Validate any bundle before import
  scope: 'application/pdf,text/plain,text/html,text/markdown'
  auto: false # Enable/disable auto-import of file
  only_contextual: false # Only extract data related to an entity (a report, a threat actor, etc.)
  confidence_level: 100 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

import_document:
  create_indicator: false
