opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'INTERNAL_ENRICHMENT'
  id: 'ChangeMe'
  name: 'Template Connector' # optional (default: 'Template Connector')
  scope: 'ChangeMe'
  log_level: 'error' # optional (default: 'error')
  auto: false # optional, enable/disable auto-enrichment of OpenCTI entities (default: false)
  max_tlp: 'TLP:AMBER' # optional, available values: 'TLP:CLEAR', 'TLP:WHITE', 'TLP:GREEN', 'TLP:AMBER', 'TLP:AMBER+STRICT', 'TLP:RED' (default: 'TLP:AMBER')

template:
  api_base_url: 'ChangeMe'
  api_key: 'ChangeMe'