opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'STREAM'
  id: 'ChangeMe'
  name: 'Microsoft Defender Intel'
  live_stream_id: 'ChangeMe'

microsoft_defender_intel:
  tenant_id: 'ChangeMe'
  client_id: 'ChangeMe' 
  client_secret: 'ChangeMe'
