opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Comlaude'
  scope: 'SCO' # MIME type or SCO
  log_level: 'info'

comlaude:
  interval: 2
  username: 'ChangeMe'
  password: 'ChangeMe'
  api_key: 'ChangeMe'
  group_id: 'ChangeMe'
  start_time: '1970-01-01T00:00:00Z'
  update_existing_data: 'True'
  labels: 'comlaude,safelist'
