opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  name: 'Comlaude'
  scope: 'comlaude,stix'
  log_level: 'info'
  duration_period: 'PT2H'
  #queue_threshold: 500       # Optional value (default: 500MB)
  #run_and_terminate: true

comlaude:
  username: 'ChangeMe'
  password: 'ChangeMe'
  api_key: 'ChangeMe'
  group_id: 'ChangeMe'
  #score: 15
  #start_time: '1970-01-01T00:00:00Z'
  #labels: 'comlaude,safelist'