opencti:
  url: 'http://opencti:8080'
  token: 'Changeme'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Loader Insight Agency File Feed'
  scope: 'stix2'
  log_level: 'info'
  duration_period: 'PT15M' # Interval given for scheduler process in ISO-8601 format

lia_file_feed:
  api_base_url: 'https://loaderinsight.agency/api/?ep=filefeed'
  api_key: 'ChangeMe'
