opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'EXTERNAL_IMPORT'
  id: 'ChangeMe'

gti:
  api_key: 'ChangeMe'
  # import_indicators: false
  # indicator_types: file,ip,url,domain
  # indicator_import_start_date: PT1H
  # indicator_min_score: 50
  # indicator_require_malware_family: false
  # indicator_require_threat_actor: false
