opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Harfanglab Incidents Connector'
  scope: 'harfanglab'
  log_level: 'info'
  duration_period: 'PT5M' # Interval given for scheduler process in ISO-8601 format
  #============================================#
  # Optional connector's definition parameters #
  #============================================#
  #queue_threshold: 500
  #run_and_terminate: 'False'
  #send_to_queue: 'True'
  #send_to_directory: 'False'
  #send_to_directory_path: 'ChangeMe'
  #send_to_directory_retention: 7

harfanglab_incidents:
  url: 'https://harfanglab.changeme.com' # The URL of the Harfang Lab Server
  ssl_verify: true
  token: 'ChangeMe' # Token for bearer auth
  import_threats: false # If true then threats will be imported too (as Case Incidents), otherwise only alerts will be imported (as Incidents)
  alert_statuses: 'new,investigating' # Filters available : new, investigating, false_positive, closed
  alert_types: 'yara,sigma,ioc' # Filters available : yara, sigma, ioc
  default_marking: 'TLP:CLEAR' # Markings available : TLP:CLEAR - TLP:GREEN - TLP:AMBER - TLP:RED (default TLP:CLEAR)
  default_score: 50 # Former confidence_level deprecated in OpenCTI version >= 6.0
  import_start_date: '1970-01-01' # Import start date in 'YYYY-MM-DD' format