# OpenCTI platform connection
OPENCTI_URL=http://localhost
OPENCTI_TOKEN=ChangeMe

# Connector definition — REQUIRED
CONNECTOR_ID=ChangeMe
CONNECTOR_NAME=Microsoft Defender Incidents
CONNECTOR_SCOPE=defender
CONNECTOR_LOG_LEVEL=error
CONNECTOR_DURATION_PERIOD=PT1H

# Connector definition — OPTIONAL
# CONNECTOR_QUEUE_THRESHOLD=500
# CONNECTOR_RUN_AND_TERMINATE=false
# CONNECTOR_SEND_TO_QUEUE=true
# CONNECTOR_SEND_TO_DIRECTORY=false
# CONNECTOR_SEND_TO_DIRECTORY_PATH=ChangeMe
# CONNECTOR_SEND_TO_DIRECTORY_RETENTION=7

# Microsoft Defender Incidents — REQUIRED
MICROSOFT_DEFENDER_INCIDENTS_TENANT_ID=ChangeMe
MICROSOFT_DEFENDER_INCIDENTS_CLIENT_ID=ChangeMe
MICROSOFT_DEFENDER_INCIDENTS_CLIENT_SECRET=ChangeMe
# MICROSOFT_DEFENDER_INCIDENTS_IMPORT_START_DATE=

# Microsoft Defender Incidents — OPTIONAL
# MICROSOFT_DEFENDER_INCIDENTS_API_BASE_URL=https://graph.microsoft.com/v1.0
# MICROSOFT_DEFENDER_INCIDENTS_INCIDENT_PATH=/security/incidents
