opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Hygiene'
  scope: 'IPv4-Addr,IPv6-Addr,Domain-Name,StixFile,Artifact,Indicator'
  auto: true # Enable/disable auto-enrichment of observables
  log_level: 'info'

hygiene:
  warninglists_slow_search: false  # Enable warning lists slow search mode
  label_name: 'hygiene'
  label_color: '#fc0341'
  label_parent_name: 'hygiene_parent'
  label_parent_color: '#fc0341'
  enrich_subdomains: false