tldextract==5.3.0
pycti==6.9.22
pydantic>=2.10, <3
pydantic-settings==2.10.1
git+http://github.com/MISP/PyMISPWarningLists.git@main#egg=pymispwarninglists
connectors-sdk @ git+https://github.com/OpenCTI-Platform/connectors.git@6.9.22#subdirectory=connectors-sdk
