# OpenCTI configuration
OPENCTI_URL=http://localhost:PORT
OPENCTI_TOKEN=ChangeMe

# Common connector configuration
CONNECTOR_ID=ChangeMe
CONNECTOR_TYPE=EXTERNAL_IMPORT
CONNECTOR_NAME=ChangeMe
CONNECTOR_SCOPE=["ChangeMe"]
CONNECTOR_LOG_LEVEL=info
CONNECTOR_DURATION_PERIOD=PT5M  # Interval given for scheduler process in ISO-8601 format
#============================================#
# Optional connector's definition parameters #
#============================================#
# QUEUE_THRESHOLD=500
# RUN_AND_TERMINATE=False
# SEND_TO_QUEUE=True
# SEND_TO_DIRECTORY=False
# SEND_TO_DIRECTORY_PATH=ChangeMe
# SEND_TO_DIRECTORY_RETENTION=7

EMAIL_INTEL_IMAP_HOST=changeMe
EMAIL_INTEL_IMAP_PORT=993
EMAIL_INTEL_IMAP_SSL=True
EMAIL_INTEL_IMAP_USERNAME=changeMe
EMAIL_INTEL_IMAP_PASSWORD=changeMe
EMAIL_INTEL_IMAP_MAILBOX=changeMe
EMAIL_INTEL_RELATIVE_IMPORT_SINCE_DAYS=1