# OpenCTI configuration
OPENCTI_URL=http://localhost:PORT
OPENCTI_TOKEN=ChangeMe

# Common connector configuration
CONNECTOR_ID=ChangeMe
CONNECTOR_TYPE=EXTERNAL_IMPORT
CONNECTOR_NAME='Email Intel IMAP'
CONNECTOR_SCOPE=email-intel-imap
CONNECTOR_LOG_LEVEL=error
CONNECTOR_DURATION_PERIOD=PT1H

# Connector configuration
EMAIL_INTEL_IMAP_TLP_LEVEL=amber+strict