opencti:
  url: 'http://localhost:PORT'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Email Intel IMAP'
  scope: 'email-intel-imap'
  log_level: 'error'
  duration_period: 'PT1H'

email_intel_imap:
  tlp_level: 'amber+strict'
  relative_import_start_date: 'P30D'
  host: 'ChangeMe'
  port: 'ChangeMe'
  username: 'ChangeMe'
  password: 'ChangeMe'
  mailbox: 'INBOX'
  attachments_mime_types: 'application/pdf,text/csv,text/plain'
