opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: '511a18bb-03b6-50e3-888a-08a8e656bf99'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Splunk Search'
  scope: 'Indicator'
  log_level: 'info'
  auto: false # Enable/disable auto-enrichment of observables

splunk-search:
  api_base_url: 'ChangeMe'
  api_key: 'ChangeMe'