opencti:
  url: 'http://opencti:8080'
  token: 'ChangeMe' # Use one as provided by the platform

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Ransomware Connector'
  scope: 'identity,attack-pattern,course-of-action,intrusion-set,malware,tool,report'
  log_level: 'info' # One of the following: debug, info, warning, error
  duration_period: '' # Interval given for scheduler process in ISO-8601 format
  #============================================#
  # Optional connector's definition parameters #
  #============================================#
  #queue_threshold: 500
  #run_and_terminate: 'False'
  #send_to_queue: 'True'
  #send_to_directory: 'False'
  #send_to_directory_path: 'ChangeMe'
  #send_to_directory_retention: 7

connector_template:
  pull_history: 'False' # If true, the connector will pull the history of the data. But it is not recommended to set it to true as there will a large influx of data.
  history_start_year: 2023 # Data only goes back till 2020
  interval: '10m' # 10 minutes will be the ideal time
  create_threat_actor: 'False'
