# Connector's generic execution parameters
OPENCTI_URL=http://opencti:8080
OPENCTI_TOKEN=ChangeMe

# Connector's definition parameters REQUIRED
CONNECTOR_ID=ChangeMe
CONNECTOR_TYPE=EXTERNAL_IMPORT
CONNECTOR_NAME=Ransomware Connector
CONNECTOR_SCOPE=identity,attack-pattern,course-of-action,intrusion-set,malware,tool,report
CONNECTOR_LOG_LEVEL=info
CONNECTOR_DURATION_PERIOD=PT10M

# Custom connector parameters.
CONNECTOR_PULL_HISTORY=false
CONNECTOR_HISTORY_START_YEAR=2023
CONNECTOR_RUN_EVERY=10m # DEPRECATED, use CONNECTOR_DURATION_PERIOD instead
CONNECTOR_CREATE_THREAT_ACTOR=false
