# Generic parameters (connection with OpenCTI)
OPENCTI_URL=http://opencti:8080
OPENCTI_TOKEN=CHANGEME

# Common parameters for connectors
# CONNECTOR_ID=9955194d-d000-4507-bc9d-19f851c20de9
# CONNECTOR_NAME=Silent Push - Enrichment
# CONNECTOR_SCOPE=Indicator,URL,IPv4-Addr,IPv6-Addr,Domain-Name
# CONNECTOR_LOG_LEVEL=error
# CONNECTOR_AUTO=false

# Custom parameters for connector-silentpush
# SILENTPUSH_API_BASE_URL=https://app.silentpush.com/api/v2/
SILENTPUSH_API_KEY=CHANGEME
# SILENTPUSH_MAX_TLP_LEVEL=TLP:CLEAR # Available values: TLP:CLEAR, TLP:WHITE, TLP:GREEN, TLP:AMBER, TLP:AMBER+STRICT, TLP:RED
# SILENTPUSH_VERIFY_CERT=true