opencti:
  url: 'http://localhost'
  token: 'changeme'

connector:
  # id: '9955194d-d000-4507-bc9d-19f851c20de9'
  # name: 'Silent Push - Enrichment'
  # scope: 'Indicator,IPv4-Addr,IPv6-Addr,Domain-Name,Hostname,URL'
  # log_level: 'error'
  # auto: false # Enable/disable auto-enrichment of observables

silentpush:
  # api_base_url: 'https://app.silentpush.com/api/v2/'
  api_key: 'YOUR-SILENT-PUSH-API-KEY'
  # verify_cert: true
  # max_tlp: "TLP:AMBER" # Available values: TLP:CLEAR, TLP:WHITE, TLP:GREEN, TLP:AMBER, TLP:AMBER+STRICT, TLP:RED