opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'STREAM'
  live_stream_id: 'ChangeMe' # ID of the live stream created in the OpenCTI UI
  name: 'Elasticsearch'
  scope: 'elasticsearch' # Reserved
  confidence_level: 80 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

elasticsearch:
  url: 'https://elasticsearch.changeme.com:8089'
  ssl_verify: true
  login: 'ChangeMe'
  password: 'ChangeMe'
  owner: 'nobody'
  app: 'search'
