opencti:
  url: 'http://localhost'
  token: 'ChangeMe' # OpenCTI API Key

connector:
  type: 'EXTERNAL_IMPORT'
  id: 'ChangeMe' # Valid UUIDv4
  name: 'Malcore'
  scope: 'malcore' # MIME type or SCO
  log_level: 'info'

malcore:
  api_url: 'https://api.malcore.io/api/feed'
  api_key: 'ChangeMe'
  score: 100
  limit: 10000
  interval: 12 # In hours, must be strictly greater than 1
