opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

#connector:
#  id: "ChangeMe"
#  name: "Censys Enrichment"
#  scope: "IPv4-Addr,IPv6-Addr,X509-Certificate,Domain-Name"
#  log_level: "error"

censys_enrichment:
  organisation_id: "ChangeMe"
  token: "ChangeMe"
#  max_tlp: "TLP:AMBER"
