# Connector's generic execution parameters
OPENCTI_URL=http://localhost:8080
OPENCTI_TOKEN=ChangeMe

# Connector's definition parameters REQUIRED
# CONNECTOR_ID=cd55d2d1-cdd9-4880-9e76-afa1f4c1d0cb
# CONNECTOR_NAME="ENISA EUVD"
# CONNECTOR_SCOPE=vulnerability
# CONNECTOR_DURATION_PERIOD=PT2H
# CONNECTOR_LOG_LEVEL=error

# ENISA EUVD parameters
# EUVD_API_BASE_URL=https://euvdservices.enisa.europa.eu/api
# EUVD_IMPORT_START_DATE=P30D
# EUVD_TLP_LEVEL=clear
# EUVD_INGEST_SOFTWARE=false
