opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'SEKOIA.IO'
  scope: 'identity,attack-pattern,course-of-action,intrusion-set,malware,tool,report,location,vulnerability,indicator'
  confidence_level: 15 # From 0 (Unknown) to 100 (Fully trusted)
  update_existing_data: True
  log_level: 'info'

sekoia:
  base_url: 'https://api.sekoia.io'
  collection: 'd6092c37-d8d7-45c3-8aff-c4dc26030608'
  api_key: 'ChangeMe'
  start_date: '2021-04-21'  # Optional, the date to start consuming data from. Maybe in the formats YYYY-MM-DD or YYYY-MM-DDT00:00:00