opencti:
  url: http://localhost:8080
  token: YOUR_OPENCTI_TOKEN

connector:
  id: YOUR_CONNECTOR_ID
  name: DDoSIA Connector
  scope: ddosia
  log_level: info
  duration_period: 1h

ddosia:
  api_base_url: http://api.witha.name
  tlp_level: green
  import_start_timestamp: null # 0 for all history, null for latest only
