OPENCTI_URL=http://localhost
OPENCTI_TOKEN=ChangeMe
# CONNECTOR_ID=d790f4c0-84c1-4e91-8e6b-3a6f3a0e3b7a
# CONNECTOR_NAME=VX Vault URL list
# CONNECTOR_SCOPE=vxvault
# CONNECTOR_DURATION_PERIOD=P3D
# CONNECTOR_LOG_LEVEL=error
# VXVAULT_URL=https://vxvault.net/URL_List.php
# VXVAULT_CREATE_INDICATORS=true
# VXVAULT_SSL_VERIFY=false
