opencti:
  url: 'http://opencti:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  name: 'ReversingLabs Spectra Analyze'
  scope: 'Artifact,Url,StixFile,File,IPv4-Addr,Domain-Name'
  #log_level: 'info'
  #auto: false

reversinglabs_spectra_analyze:
  url: 'ChangeMe'
  token: 'ChangeMe'
  #max_tlp: 'TLP:AMBER'
  #sandbox_os: 'windows10'
  #cloud_analysis: true
