opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  type: 'INTERNAL_ENRICHMENT'
  id: 'ChangeMe'
  name: 'ReversingLabs Spectra Analyze'
  scope: 'Artifact,IPv4-Addr,Domain-Name'
  #log_level: 'info'
  #auto: false
  #max_tlp: 'TLP:AMBER'

reversinglabs-spectra_analyze:
  url: 'ChangeMe'
  token: 'ChangeMe'
  #sandbox_os: 'windows10'
  #cloud_analysis: true
