opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  name: 'GreyNoise Feed'
  scope: 'greynoisefeed'
  log_level: 'error'

greynoise_feed:
  api_key: 'ChangeMe'
  feed_type: 'malicious' # set to benign, malicious, suspicious, benign+malicious, malicious+suspicious, benign+suspicious+malicious, or all
