opencti:
  url: 'http://localhost'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  name: 'Obstracts'
  scope: 'obstracts'
  confidence_level: 70
  update_existing_data: false
  log_level: 'info'

obstracts:
  base_url: 'https://api.obstracts.com/'
  api_key: ChangeMe
  feed_ids: '' # comma separated feed ids
  interval_hours: 1 # interval in hours
  days_to_backfill: 7 # Number of days to back fill for new streams