opencti:
  # http://opencti:8080 - for docker deployment, http://localhost:8080 - for manual deployment
  url: 'http://localhost:8080'
  # Use one as provided by the OpenCTI platform
  token: 'ChangeMe'

# Optional connector settings (defaults defined in src/settings.py)
connector:
  # Generate one with uuidgen (https://www.uuidgenerator.net/version4)
  id: '696ac767-c12a-452b-9b77-993e1007eed6'
  # name: 'Group-IB Connector'
  # scope: 'stix2,ipv4-addr,ipv6-addr,vulnerability,domain,url,StixFile'
  # One of the following: debug, info, warn, warning, error
  # log_level: 'info'
  # Interval between two runs in ISO-8601 duration format (e.g. PT4H, PT3M, P1D)
  # duration_period: 'PT4H'
  # update_existing_data: true

# === Threat Intelligence API Server ===
ti_api:
  # Mandatory connector-specific credentials.
  username: 'ChangeMe'
  token: 'ChangeMe'
  # url: 'https://tap.group-ib.com/api/v2/'

  # === Proxy (optional) ===
  # proxy_ip:
  # proxy_port:
  # proxy_protocol:
  # proxy_username:
  # proxy_password:

  # === Extra settings ===
  # extra_settings_ignore_non_indicator_threat_reports: false
  # extra_settings_ignore_non_indicator_threats: false
  # extra_settings_ignore_non_malware_ddos: true
  # extra_settings_intrusion_set_instead_of_threat_actor: false
  # extra_settings_schedule_time: '00:00'
  # extra_settings_time_output_format: '%Y-%m-%d %H:%M:%S'
  # extra_settings_enable_statement_marking: false

  # === Collections (all disabled by default) ===
  # --- apt/threat ---
  # collections_apt_threat_default_date:
  # collections_apt_threat_enable: false
  # collections_apt_threat_local_custom_tag:
  # collections_apt_threat_ttl: 90
  # collections_apt_threat_use_hunting_rules: false
  # --- apt/threat_actor ---
  # collections_apt_threat_actor_default_date:
  # collections_apt_threat_actor_enable: false
  # collections_apt_threat_actor_local_custom_tag:
  # collections_apt_threat_actor_ttl: 90
  # --- attacks/ddos ---
  # collections_attacks_ddos_default_date:
  # collections_attacks_ddos_enable: false
  # collections_attacks_ddos_local_custom_tag:
  # collections_attacks_ddos_ttl: 30
  # --- attacks/deface ---
  # collections_attacks_deface_default_date:
  # collections_attacks_deface_enable: false
  # collections_attacks_deface_local_custom_tag:
  # collections_attacks_deface_ttl: 30
  # --- attacks/phishing_group ---
  # collections_attacks_phishing_group_default_date:
  # collections_attacks_phishing_group_enable: false
  # collections_attacks_phishing_group_local_custom_tag:
  # collections_attacks_phishing_group_ttl: 30
  # --- attacks/phishing_kit ---
  # collections_attacks_phishing_kit_default_date:
  # collections_attacks_phishing_kit_enable: false
  # collections_attacks_phishing_kit_local_custom_tag:
  # collections_attacks_phishing_kit_ttl: 30
  # --- compromised/access ---
  # collections_compromised_access_default_date:
  # collections_compromised_access_enable: false
  # collections_compromised_access_local_custom_tag:
  # collections_compromised_access_ttl: 90
  # --- compromised/account_group ---
  # collections_compromised_account_group_default_date:
  # collections_compromised_account_group_enable: false
  # collections_compromised_account_group_local_custom_tag:
  # collections_compromised_account_group_ttl: 90
  # --- compromised/bank_card_group ---
  # collections_compromised_bank_card_group_default_date:
  # collections_compromised_bank_card_group_enable: false
  # collections_compromised_bank_card_group_local_custom_tag:
  # collections_compromised_bank_card_group_ttl: 90
  # --- compromised/discord ---
  # collections_compromised_discord_default_date:
  # collections_compromised_discord_enable: false
  # collections_compromised_discord_local_custom_tag:
  # collections_compromised_discord_ttl:
  # --- compromised/imei ---
  # collections_compromised_imei_default_date:
  # collections_compromised_imei_enable: false
  # collections_compromised_imei_local_custom_tag:
  # collections_compromised_imei_ttl: 30
  # --- compromised/masked_card ---
  # collections_compromised_masked_card_default_date:
  # collections_compromised_masked_card_enable: false
  # collections_compromised_masked_card_local_custom_tag:
  # collections_compromised_masked_card_ttl: 90
  # --- compromised/messenger ---
  # collections_compromised_messenger_default_date:
  # collections_compromised_messenger_enable: false
  # collections_compromised_messenger_local_custom_tag:
  # collections_compromised_messenger_ttl:
  # --- compromised/mule ---
  # collections_compromised_mule_default_date:
  # collections_compromised_mule_enable: false
  # collections_compromised_mule_local_custom_tag:
  # collections_compromised_mule_ttl: 30
  # --- hi/open_threats ---
  # collections_hi_open_threats_default_date:
  # collections_hi_open_threats_enable: false
  # collections_hi_open_threats_local_custom_tag:
  # collections_hi_open_threats_ttl:
  # --- hi/threat ---
  # collections_hi_threat_default_date:
  # collections_hi_threat_enable: false
  # collections_hi_threat_local_custom_tag:
  # collections_hi_threat_ttl: 90
  # collections_hi_threat_use_hunting_rules: false
  # --- hi/threat_actor ---
  # collections_hi_threat_actor_default_date:
  # collections_hi_threat_actor_enable: false
  # collections_hi_threat_actor_local_custom_tag:
  # collections_hi_threat_actor_ttl: 90
  # --- ioc/common ---
  # collections_ioc_common_default_date:
  # collections_ioc_common_enable: false
  # collections_ioc_common_local_custom_tag:
  # collections_ioc_common_ttl: 90
  # --- malware/cnc ---
  # collections_malware_cnc_default_date:
  # collections_malware_cnc_enable: false
  # collections_malware_cnc_local_custom_tag:
  # collections_malware_cnc_ttl: 90
  # --- malware/config ---
  # collections_malware_config_default_date:
  # collections_malware_config_enable: false
  # collections_malware_config_local_custom_tag:
  # collections_malware_config_ttl: 30
  # --- malware/malware ---
  # collections_malware_malware_default_date:
  # collections_malware_malware_enable: false
  # collections_malware_malware_local_custom_tag:
  # collections_malware_malware_ttl:
  # --- malware/signature ---
  # collections_malware_signature_default_date:
  # collections_malware_signature_enable: false
  # collections_malware_signature_local_custom_tag:
  # collections_malware_signature_ttl:
  # --- malware/yara ---
  # collections_malware_yara_default_date:
  # collections_malware_yara_enable: false
  # collections_malware_yara_local_custom_tag:
  # collections_malware_yara_ttl:
  # --- osi/git_repository ---
  # collections_osi_git_repository_default_date:
  # collections_osi_git_repository_enable: false
  # collections_osi_git_repository_local_custom_tag:
  # collections_osi_git_repository_ttl: 30
  # --- osi/public_leak ---
  # collections_osi_public_leak_default_date:
  # collections_osi_public_leak_enable: false
  # collections_osi_public_leak_local_custom_tag:
  # collections_osi_public_leak_ttl: 30
  # --- osi/vulnerability ---
  # collections_osi_vulnerability_default_date:
  # collections_osi_vulnerability_enable: false
  # collections_osi_vulnerability_local_custom_tag:
  # collections_osi_vulnerability_ttl: 30
  # --- suspicious_ip/open_proxy ---
  # collections_suspicious_ip_open_proxy_default_date:
  # collections_suspicious_ip_open_proxy_enable: false
  # collections_suspicious_ip_open_proxy_local_custom_tag:
  # collections_suspicious_ip_open_proxy_ttl: 15
  # --- suspicious_ip/scanner ---
  # collections_suspicious_ip_scanner_default_date:
  # collections_suspicious_ip_scanner_enable: false
  # collections_suspicious_ip_scanner_local_custom_tag:
  # collections_suspicious_ip_scanner_ttl: 15
  # --- suspicious_ip/socks_proxy ---
  # collections_suspicious_ip_socks_proxy_default_date:
  # collections_suspicious_ip_socks_proxy_enable: false
  # collections_suspicious_ip_socks_proxy_local_custom_tag:
  # collections_suspicious_ip_socks_proxy_ttl: 2
  # --- suspicious_ip/tor_node ---
  # collections_suspicious_ip_tor_node_default_date:
  # collections_suspicious_ip_tor_node_enable: false
  # collections_suspicious_ip_tor_node_local_custom_tag:
  # collections_suspicious_ip_tor_node_ttl: 30
  # --- suspicious_ip/vpn ---
  # collections_suspicious_ip_vpn_default_date:
  # collections_suspicious_ip_vpn_enable: false
  # collections_suspicious_ip_vpn_local_custom_tag:
  # collections_suspicious_ip_vpn_ttl: 30
