opencti:
  # http://opencti:8080 - for docker deployment, http://localhost:8080 - for manual deployment
  url: "http://opencti:8080"
  # Use one as provided by the OpenCTI platform
  token: ""

connector:
  # Generate one with uuidgen (https://www.uuidgenerator.net/version4)
  id: ""
  type: "EXTERNAL_IMPORT"
  name: "Group-IB Connector"
  scope: "stix2,ipv4-addr,ipv6-addr,vulnerability,domain,url,StixFile"
  docker_container_name: "gib_connector"
  # One of the following: debug, info, warning, error
  log_level: "debug"
  # Specifies the time interval in ISO 8601 format (Duration):
  # Format: P[n]Y[n]M[n]DT[n]H[n]M[n]S
  # - P: indicates the beginning of the period (Period).
  # - T: separates date and time, used before time components.
  # - n: a number representing a quantity (e.g. 3 for 3 minutes).
  # 
  # Examples:
  # - PT3M: an interval of 3 minutes.
  # - PT5S: an interval of 5 seconds.
  # - P1DT2H: an interval of 1 day and 2 hours.
  duration_period: "PT3M"
  # From 0 (Unknown) to 100 (Fully trusted)
  confidence_level: 100
  update_existing_data: true
  # === RabbitMQ Server used for integration manual run ===
  mq_host: localhost
  mq_port: 5672
  mq_vhost: "/"
  mq_use_ssl: false
  mq_user: "guest"
  mq_pass: "guest"

# === Threat Intelligence API Server ===
# Connector specific parameters. All params are mandatory.
ti_api:
    url: "https://tap.group-ib.com/api/v2/"
    username: ""
    token: ""
    # === Threat Intelligence API Proxy ===
    # Proxy specifc parameters. You can leave them blank.
    proxy:
      ip:
      port:
      protocol:
      username:
      password:

    # === Threat Intelligence Collections settings
    # Collections specifc parameters. All params are mandatory.
    
    extra_settings:
      ignore_non_indicator_threat_reports: false
      ignore_non_indicator_threats: false
      ignore_non_malware_ddos: true
      intrusion_set_instead_of_threat_actor: false
      schedule_time: 00:00
      time_output_format: '%Y-%m-%d %H:%M:%S'

    collections:
      
      apt/threat:
        description: 
          A collection of Indicators and MITRE ATT&CK matrix. It contains HASH
          sums of malicious files that were generated by hackers, IP addresses, domains,
          CVE and the group's activities, motives, and goals to understand what tools
          and tactics they use according to the MITRE ATT&CK matrix.
        default_date: '' # Example: 2024-12-12
        enable: true
        local_custom_tag: null
        ttl: 90
      
      apt/threat_actor:
        description:
          Cybercriminal groups including nation-state (state-sponsored hacker
          groups) and organized threat groups that target various industries and countries.
        default_date: ''
        enable: true
        local_custom_tag: null
        ttl: 90
      
      attacks/ddos:
        description:
          An attack that creates a load on the server and is executed simultaneously
          from a large number of computers (often a network of infected zombie computers
          is used) in order to create an artificial increase in requests to a resource
          and thereby disable it.
        default_date: ''
        enable: true
        local_custom_tag: null
        ttl: 30
      
      attacks/deface:
        description:
          Defacement attacks are often conducted by web-hooligans (a form of
          vandalism) or hacktivists (politically or religiously motivated actors) whose
          aim is to draw attention to something. After a successful attack, the threat
          actors publish information on special sites dedicated to defacement, social
          media, or their personal sites.
        default_date: ''
        enable: true
        local_custom_tag: null
        ttl: 30
      
      attacks/phishing_group:
        description:
          The Phishing displays information about various phishing resources
          (including sites masqueraded as Google, Microsoft, etc.). Group-IB collects
          this data with the help of Passive-DNS analysis performed by Managed XDR (Managed
          Extended Detection and Response) systems, alerts received by CERT-GIB, tracked
          SPAM messages, malicious contextual advertising, new domain names, and other
          valuable data.
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: 30
      
      attacks/phishing_kit:
        description:
          A Phishing kit is a collection of pages, scripts, and images that
          keep a phishing website up and running. In other words, it is a ready-made phishing
          website with a relevant settings file that specifies the parameters of how the
          page needs to be displayed.
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: 30
      
      compromised/access:
        description:
          This collection displays the freshest information about compromised
          data from various darkweb marketplaces (which sell illegal or restricted data
          and services, according to the laws of a particular country). Most often it
          is malware, hacked databases of social networks and so on. The information obtained
          from this collection can help detect relevant threats that compromise company
          employees, customers or systems on the internal network.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: 90

      compromised/account_group:
        description:
          Hackers use phishing websites and malware for PC and Android to steal
          logins and passwords. These can be credentials for the internal corporate systems
          or external services for clients, such as Internet banking details. Malicious
          programs transfer the intercepted data to attacker-controlled remote servers.
          This server is the central data collection point for intercepted passwords and
          other information that malware gathers. All data is distributed into the following
          groups service, host, login and password.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: 90
      
      compromised/bank_card_group:
        description:
          Bank Cards Group collection contains information about compromised
          bank cards and masked cards. This includes data collected from card shops, specialized
          forums, and public sources. All data collected is grouped by card number.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: 90
        
      compromised/discord:
        description:
          The Discord collection contains data that was received by the TI
          system from Discord. The Threat Intelligence system analyzes every chat and
          channel (even private ones). Here detailed information about Discord servers,
          channels and users can be extracted. You can also find data from the channels
          which were added manually to the TI system.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: null
      
      compromised/imei:
        description:
          Android Trojans are designed to steal money from bank accounts, spy
          on account holders, and extort money. They can intercept SMS messages, recover
          passwords from cloud storage services, upload photo and video files, transmit
          the device geolocation and lists of installed applications from a mobile device
          to the threat actor, and automatically transfer funds.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: 30
      
      compromised/masked_card:
        description:
          Masked Card collection contains information about compromised masked
          cards. This includes data collected from card shops, specialized forums, and
          public sources.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: 90
      
      compromised/messenger:
        description:
          In this collection information from the Telegram chats and channels
          can be found. The transferred or plan to transfer stolen money to. Man-in-the-Browser
          (MITB) attacks, mobile Trojans, and phishing kits allow fraudsters to make money
          transfers automatically. Analyzing bank-targeted botnets helps extract this
          data from malware configuration files.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: null
      
      compromised/mule:
        description:
          This collection contains data about bank accounts threat actors have
          transferred or plan to transfer stolen money to. Man-in-the-Browser (MITB) attacks,
          mobile Trojans, and phishing kits allow fraudsters to make money transfers automatically.
          Analyzing bank-targeted botnets helps extract this data from malware configuration
          files.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: 30
      
      hi/open_threats:
        description:
          The Open Threats collection consolidates public reports from various
          cybersecurity vendors and researchers globally. All detected events are classified
          by criteria such as threat actor, malware or country and tagged with common
          identifiers. This makes it easier to understand the content at a glance and
          apply intelligent filtering based on specific tags. The indicators from this
          feed are automatically parsed, making it easy to integrate them into your security
          measures.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: null
      
      hi/threat:
        description:
          A collection of Indicators and MITRE ATT&CK matrix. It contains HASH
          sums of malicious files that were generated by hackers, IP addresses, domains,
          CVE and group's activities, motives, and goals to understand what tools and
          tactics they use according to the MITRE ATT&CK matrix.
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: 90
      
      hi/threat_actor:
        description:
          Cybercriminal groups including nation-state (state-sponsored hacker
          groups) and organized threat groups that target various industries and countries.
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: 90
      
      ioc/common:
        description:
          The Common IoCs collection can help identify malicious activity or
          security threats. Indicators of Compromise are clues and evidence of a data
          breach, usually observed during a cybersecurity attack. Identified IoCs provide
          the organization with a window into the techniques and methodologies of the
          attackers who target them.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: 90
      
      malware/cnc:
        description:
          Command and control. CNC collection contains information on the control
          center where malware related to targeted attacks use to store stolen data or
          download commands from.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: 90
      
      malware/config:
        description:
          Malicious files come from Malware control center. Contains HASH sums
          of malicious files that were generated by hackers, IP addresses, and domains.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: 30
      
      malware/malware:
        description:
          The Malware collection contains detailed information about specific
          malware detected through analyzing Threat Actors activity. Can contain malware
          names, related attacker names and additionally legitimate tools used by attackers
          during an attack.
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: null
      
      malware/signature:
        description:
          This collection contains malware signatures that can be used to enrich
          malware security feeds, detect potentially confidential information and identify
          specific malware promptly. Here the signature name, class and raw data can be
          found  (if detected).
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: null

      malware/yara:
        description:  
          This collection includes data related to YARA rules and containing
          information about specific malware families. Here YARA rule name, class and
          raw data can be displayed (if detected).
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: null
      
      osi/git_repository:
        description:
          Open-source repositories such as GitHub contain codes that anyone
          can search for. They are often used by threat actors planning to attack a specific
          company.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: 30
        
      osi/public_leak:
        description:
          There are specialized websites for exchanging textual information
          (such as Pastebin and analogous resources). They can be used to upload texts
          and send anyone a link to them. Both legitimate IT specialists and hackers actively
          use such resources. IT professionals may underestimate the risks and load configuration
          files for network equipment, export tables from databases, code fragments containing
          access credentials, and much more. Hackers mainly post lists of usernames, passwords,
          bank card details, Trojan configuration files, attack outcomes, and various
          logs.
        default_date: "Warning! Collection is not implemented in the current version"
        enable: false
        local_custom_tag: null
        ttl: 30
      osi/vulnerability:
        description:
          The Vulnerability collection displays information about vulnerabilities
          detected in the software by version. In addition to general information, the
          subsection also contains data on existing exploits, with the option to view
          links to PoC (Proof-of-Concept) and additional information, or to download the
          exploit.
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: 30
      suspicious_ip/open_proxy:
        description:
          The Open proxy collection shows information about lists of proxy
          servers that are publicly available on various Internet resources related to
          anonymity. In addition, proxy servers may be configured as open proxies intentionally
          or as a result of misconfiguration or breaches.
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: 15
      suspicious_ip/scanner:
        description:
          This collection contains data about public and private IP-addresses
          that were identified by the TI system. These records can be used to identify
          or block connections between the corporate network and servers detected.
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: 15
      suspicious_ip/socks_proxy:
        description:
          The Socks proxy collection shows information about addresses where
          malware that turns infected computers into SOCKS proxies has been installed.
          Such computers (bots) are rented out and used in various attacks to ensure the
          attacker as much anonymity as possible.
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: 2
      suspicious_ip/tor_node:
        description:
          The Tor collection displays data  about Tor exit nodes, which are
          the final Tor relays in the circuit. The nodes act as an intermediary between
          a Tor client and public Internet.
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: 30
      suspicious_ip/vpn:
        description:
          This collection contains information about public and private VPNs
          servers that were identified by the TI system. These records can be used to
          identify or block connections between the corporate network and servers detected.
        default_date: null
        enable: false
        local_custom_tag: null
        ttl: 30

    