opencti:
  url: "http://opencti:8080"
  token: "ChangeMe"

connector:
  id: "aa817c8b-abae-460a-9ebc-97b1551e70ee" # Valid UUIDv4
  type: "EXTERNAL_IMPORT"
  name: "RST Threat Feed"
  scope: "application/json" # MIME type or SCO
  log_level: "info"

rst-threat-feed:
  baseurl: "https://api.rstcloud.net/v1/"
  apikey: "ChangeMe"
  contimeout: 10
  readtimeout: 30
  retry: 5
  interval: 300
  min_score_import: 20
  # sets x_opencti_detection for each indicator type to true or false if more than the specified threshold
  min_score_detection_ip: 45
  min_score_detection_domain: 45
  min_score_detection_url: 45
  min_score_detection_hash: 45
  only_new: true
  only_attributed: false
  dirs_tmp: "./"
  dirs_state: "./"
